<template>
  <div class="page" v-loading="loading">
    <Search @search="onSearch" />
    <div class="content">
      <el-button type="primary" icon="el-icon-plus" @click="dialogFormVisible = true">新增</el-button>
      <el-table :data="list" style="width: 100%" height="600">
        <el-table-column prop="no" label="序号" width="100"></el-table-column>
        <el-table-column prop="name" label="姓名" width="100"></el-table-column>
        <el-table-column label="年龄" width="100">
          <template slot-scope="scope">
            {{ scope.row.age }}岁
          </template>
        </el-table-column>
        <el-table-column label="性别" width="100">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.sex" type="success">男</el-tag>
            <el-tag v-else type="danger">女</el-tag>
          </template>
        </el-table-column>
        <el-table-column label="婚姻状况" width="100">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.married" effect="dark" type="success">已婚</el-tag>
            <el-tag v-else type="danger" effect="dark">未婚</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="email" label="邮箱" width="200"></el-table-column>
        <el-table-column prop="address" label="地址" width="250"></el-table-column>
        <el-table-column label="创建时间" width="180">
          <template slot-scope="scope">
            {{ format(scope.row.createTime * 1) }}
          </template>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="180">
          <template slot-scope="scope">
            <el-button size="small" type="primary" plain @click="showEditUser(scope.row)">编辑</el-button>
            <el-button size="small" type="danger" plain @click="removeConfirm(scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
      <el-pagination
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="page"
        :page-sizes="[10, 20, 50, 100]"
        :page-size="pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
      <AddUser :editInfo="editInfo" :visible.sync="dialogFormVisible" @ok="ok" />
    </div>
  </div>
</template>

<script>
import { getlist, removeUser, addUser, updateUser } from '../../../services'
import moment from 'moment'
import Search from './components/Search.vue'
import AddUser from './components/AddUser.vue'

export default {
  data () {
    return {
      list: [],
      total: 0,
      page: 1,
      pagesize: 10,
      otherParams: {},
      loading: false,
      dialogFormVisible: false,
      editInfo: null
    }
  },
  watch: {
    dialogFormVisible () {
      if (!this.dialogFormVisible) {
        this.editInfo = null
      }
    }
  },
  methods: {
    format (time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    },
    handleSizeChange (val) {
      console.log(`每页 ${val} 条`)
      this.pagesize = val
      this.getlist()
    },
    handleCurrentChange (val) {
      console.log(`当前页: ${val}`)
      this.page = val
      this.getlist()
    },
    async getlist () {
      this.loading = true
      const res = await getlist({
        page: this.page,
        pagesize: this.pagesize,
        ...this.otherParams
      })
      if (res.data.code === 200) {
        this.list = res.data.data.list
        this.total = res.data.data.total
      } else {
        this.$message.error(res.data.msg)
      }
      this.loading = false
    },
    async remove (id) {
      const res = await removeUser(id)
      if (res.data.code === 200) {
        this.$message.success('删除成功')
        if (this.list.length === 1) {
          this.page--
        }
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    },
    removeConfirm (id) {
      this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.remove(id)
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    onSearch (val) {
      this.otherParams = val
      this.getlist()
    },
    async addUserApi (form) {
      const res = await addUser(form)
      if (res.data.code === 200) {
        this.$message.success('添加成功')
        this.dialogFormVisible = false
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    },
    async edituserApi (form) {
      // 编辑接口
      const res = await updateUser(form)
      if (res.data.code === 200) {
        this.$message.success('添加成功')
        this.dialogFormVisible = false
        this.getlist()
      } else {
        this.$message.error(res.data.msg)
      }
    },
    showEditUser (row) {
      this.editInfo = row
      this.dialogFormVisible = true
    },
    ok (form) {
      if (this.editInfo) {
        this.edituserApi(form)
      } else {
        this.addUserApi(form)
      }
    }
  },
  created () {
    this.getlist()
  },
  components: {
    Search,
    AddUser
  }
}
</script>

<style lang="scss" scoped>
.page {
  min-height: 500px;
}
.content {
  overflow: hidden;
  background: #ffffff;
  padding: 20px;
}
.el-pagination {
  margin-top: 20px;
  float: right;
}
</style>
