.search {
  display: flex;
  flex-direction: column;
  header {
    height: 50px;
    padding: 10px 20px;
    border-bottom: 1px solid #cccccc;
    input {
      width: 100%;
      height: 100%;
    }
  }
  .list {
    flex: 1;
    overflow: auto;
    li {
      line-height: 40px;
      border-bottom: 1px dashed #cccccc;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}