<template>
  <div id="app">
    <!-- <transition
      enter-active-class="animate__animated animate__backInDown"
      leave-active-class="animate__animated animate__backOutDown"
    > -->
    <router-view />
    <!-- </transition> -->
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  vertical-align: middle;
}
a {
  text-decoration: none;
  color: #333333;
  -webkit-tap-highlight-color: transparent;
}
html, body, #app, .page {
  width: 100%;
  height: 100%;
  font-size: 14px;
}
</style>
