.nav {
  height: 40px;
  border-bottom: 2px solid tomato;
  display: flex;
  .nav-item {
    flex: 1;
    line-height: 40px;
    text-align: center;
  }
  .active {
    background: orange;
  }
}
.content {
  width: 100%;
  height: 200px;
  background: #999999;
}