<view class="nav">
  <view
    class="nav-item {{curIndex === index ? 'active' : ''}}"
    wx:for="{{list}}"
    wx:key="*this"
    data-index="{{index}}"
    bind:tap="changeTab"
  >{{item}}</view>
</view>
<view class="content">
  <slot />
</view>
