/* components/film/film.wxss */

.item {
  width: 100%;
  display: flex;
  padding: 40rpx;
  border-bottom: 1px dashed #333333;
  image {
    width: 220rpx;
  }
  .info {
    flex: 1;
    overflow: hidden;
    height: 308rpx;
    padding: 0 20rpx;
  }
}
.title {
  font-size: 20px;
  font-weight: bold;
}