<template>
  <div>
    <p>用户名: <input type="text" v-model="form.name"></p>
    <p>密码: <input type="password" v-model="form.password"></p>
    <button @click="login">登陆</button>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      form: {
        name: '',
        password: ''
      }
    }
  },
  methods: {
    async login () {
      const res = await axios.post('/api/login', {
        name: this.form.name,
        password: this.form.password
      })
      // console.log(res.data)
      if (res.data.code === 0) {
        console.log('登陆成功', this.$route.query.redirectUrl)
        localStorage.setItem('token', res.data.token)
        location.replace(this.$route.query.redirectUrl)
      } else {
        console.log('登陆失败')
      }
    }
  }
}
</script>

<style>

</style>
