* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
html, body, #root, .app, .page {
  width: 100%;
  height: 100%;
}
.box {
  min-height: 40px;
  background: #cccccc;
}