<script setup>
  import {
    ref,
    onMounted,
    reactive
  } from 'vue'
  import {
    getBanner,
    getPersonalized
  } from '../../services/index.js'
  import PlayerDialog from '@/components/playerDialog.vue'
  
  const banners = ref([])
  const personalizedList = ref([])
  const navlist = reactive([
    {
      "id": 1,
      "name": "每日推荐",
      "iconUrl": "http://p1.music.126.net/4DpSgAVpJny4Ewf-Xw_WQQ==/109951163986641971.jpg",
      "url": "/pages/mv/mv",
    },
    {
      "id": 2,
      "name": "私人FM",
      "iconUrl": "http://p1.music.126.net/Shi7cRT1bDhwpVDM7AOFXg==/109951165265330616.jpg",
      "url": ""
    },
    {
      "id": 3,
      "name": "歌单",
      "iconUrl": "http://p1.music.126.net/uG5p6CnwAHrLqOkaSeRlnA==/109951163986649164.jpg",
      "url": ""
    },
    {
      "id": 4,
      "name": "排行榜",
      "iconUrl": "http://p1.music.126.net/SDFC6A3X2wzUCavYyeGIOg==/109951163986649670.jpg",
      "url": "/pages/rank/rank",
    },
    {
      "id": 5,
      "name": "有声书",
      "iconUrl": "http://p1.music.126.net/Kb4oK0m_ocs3FR3lo-r9yg==/109951167319110429.jpg",
      "url": ""
    },
    {
      "id": 6,
      "name": "数字专辑",
      "iconUrl": "http://p1.music.126.net/nRWhsf3P7r7eqHz-v61VBg==/109951166989045593.jpg",
      "url": ""
    },
    {
      "id": 7,
      "name": "直播",
      "iconUrl": "http://p1.music.126.net/2JvVZZjcjyCE72fGMsC1hg==/109951166989043011.jpg",
      "url": ""
    },
    {
      "id": 8,
      "name": "关注新歌",
      "iconUrl": "http://p1.music.126.net/BAOWsqZmmxL8JIH-wejMmQ==/109951167294312390.jpg",
      "url": ""
    },
    {
      "id": 9,
      "name": "收藏家",
      "iconUrl": "http://p1.music.126.net/gk99UFRasebERf38t6A1kA==/109951168168319514.jpg",
      "url": ""
    }, {
      "id": 10,
      "name": "游戏专区",
      "iconUrl": "http://p1.music.126.net/qzKViKyOodgMYIEpp5t1NQ==/109951166989041366.jpg",
      "url": ""
    }
  ])

  getBanner().then(res => {
    banners.value = res.data.banners
  })

  getPersonalized().then(res => {
    console.log(res.data.result)
    personalizedList.value = res.data.result
  })

  const showLeft = ref(null)
  const showDrawer = () => {
    showLeft.value.open();
  }

  const hrefFn = (url) => {
    uni.navigateTo({
      url
    })
  }
</script>

<template>
  <view class="content">
    <view class="header">
      <view class="menu-icon" @click="showDrawer">
        <uni-icons color="#5e6d82" type="settings-filled" size="30"></uni-icons>
      </view>
      <navigator url="/pages/search/search" class="search">
        <uni-search-bar placeholder="搜索" bgColor="#EEEEEE" readonly />
      </navigator>
    </view>
    <view class="swiper-wrap">
      <swiper class="swiper" circular autoplay indicator-dots indicator-color="rgba(255, 255, 255, 0.5)"
        indicator-active-color="#ffffff">
        <swiper-item v-for="item in banners" :key="item.targetId">
          <view class="swiper-item">
            <image :src="item.imageUrl" mode="widthFix"></image>
          </view>
        </swiper-item>
      </swiper>
    </view>

    <scroll-view scroll-x class="nav">
      <view
        v-for="item in navlist"
        :key="item.id"
        class="nav-item"
        @click="hrefFn(item.url)"
      >
        <image :src="item.iconUrl" mode="widthFix"></image>
        <view class="">{{item.name}}</view>
      </view>
    </scroll-view>

    <uni-section title="推荐歌单" type="line"></uni-section>
    <scroll-view scroll-x="true" class="list">
      <view class="list-item" v-for="item in personalizedList" :key="item.id"
        @click="hrefFn(`/pages/listDetail/listDetail?id=${item.id}`)">
        <image :src="item.picUrl" mode="widthFix"></image>
        <view class="list-name">
          {{item.name}}
        </view>
      </view>
    </scroll-view>
    <uni-drawer ref="showLeft" mode="left" :width="320">
      <view>
        抽屉内容
      </view>
    </uni-drawer>
  </view>
  <PlayerDialog :isTabBar="true" />
</template>

<style lang="scss">

  .content {
    width: 100%;
  }

  .header {
    display: flex;
    width: 100%;

    .navigator-wrap,
    .search {
      flex: 1;
    }
  }

  .menu-icon {
    width: 80rpx;
    height: 112rpx;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-wrap {
    padding: 0 30rpx;
  }

  .swiper {
    width: 690rpx;
    height: 256rpx;
    overflow: hidden;
    border-radius: 20rpx;
  }

  .swiper-item {
    image {
      width: 100%;
      height: 256rpx;
    }
  }

  .card {
    width: 240rpx;
    height: 280rpx;
  }

  .list {
    white-space: nowrap;
  }

  .list-item {
    width: 220rpx;
    margin: 0 20rpx;
    display: inline-block;

    image {
      width: 100%;
      height: 220rpx;
      border-radius: 10rpx;
      overflow: hidden;
    }

    .list-name {
      font-size: 10px;
      width: 100%;
      height: 70rpx;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-wrap;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }

  .nav {
    width: 100%;
    padding: 40rpx 0;
    white-space: nowrap;
    .nav-item {
      display: inline-block;
      width: 20%;
      font-size: 10px;
      text-align: center;
      image {
        width: 80rpx;
        height: 80rpx;
        background: #ff3a3a;
        border-radius: 50%;
      }
    }
  }
</style>