<script>
  
	export default {
    globalData: {
      innerAudioContext: uni.createInnerAudioContext() // 音频对象
    },
		onLaunch: function() {
		},
		onShow: function() {
		},
		onHide: function() {
		}
	}
</script>

<style>
	/*每个页面公共css */
</style>
