<script setup lang="ts">
import type { SongsItem } from '@/services/api-types'
import { useRouter } from 'vue-router'
interface IProps {
  list: SongsItem[];
}

const props = defineProps<IProps>()
const router = useRouter()
const goPlayer = (id: number) => {
  router.push({
    path: '/player',
    query: {
      id
    }
  })
}
</script>

<template>
  <h2>搜索结果</h2>
  <ul class="result">
    <li v-for="item in props.list" :key="item.id" @click="goPlayer(item.id)">
      <h4>{{ item.name }}</h4>
      <p><span>{{ item.ar.map(v => v.name).join('/') }}</span> - {{ item.al.name }}</p>
    </li>
  </ul>
</template>

<style lang='scss' scoped>
h2 {
  padding: 10px;
}
.result {
  li {
    border-bottom: 1px dashed #cccccc;
    padding: 10px;
  }
}
</style>
