<script setup lang="ts">
import { reactive } from 'vue'
import type { HotsItem } from '@/services/api-types'

interface IProps {
  list: HotsItem[];
}
interface IEmits {
  (e: 'search', keyword: string): void
}

// 定义props类型
const props = defineProps<IProps>()
// 定义emits类型
const emits = defineEmits<IEmits>()

const historylist = reactive(JSON.parse(localStorage.getItem('history') as string) || [])

</script>

<template>
  <div class="hot">
    <div class="title">热门搜索</div>
    <ul>
      <li
        v-for="item in props.list"
        :key="item.first"
        @click="emits('search', item.first)"
      >{{ item.first }}</li>
    </ul>
  </div>
  <div class="history">
    <div class="title">搜索记录</div>
    <ul>
      <li
        v-for="item in historylist"
        :key="item"
        @click="emits('search', item)"
      >{{ item }}</li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>

.title {
  font-weight: bold;
  font-size: 16px;
  padding: 15px;
}
.hot {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }
  li {
    border: 1px solid #dddddd;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.history {
  li {
    border-bottom: 1px solid #dddddd;
    line-height: 40px;
    padding: 0 20px;
  }
}
</style>
