<script setup lang="ts">
import type { SuggestItem } from '@/services/api-types'

const props = defineProps<{
  list: SuggestItem[];
  keywords: string;
}>()


</script>

<template>
  <div class="suggest">
    <h2>搜索‘{{ props.keywords }}’</h2>
    <ul>
      <li
        v-for="item in props.list"
        :key="item.keyword"
        @click="$emit('handleClick', item.keyword)"
      >{{ item.keyword }}</li>
    </ul>
  </div>
</template>

<style lang='scss' scoped>
.suggest {
  h2 {
    color: lightblue;
    font-size: 16px;
    line-height: 40px;
  }
  li {
    line-height: 40px;
    border-bottom: 1px dashed #dddddd;
    padding: 0 20px;
  }
}
</style>
