<template>
  <div>
    <h3>热歌榜</h3>
    <p>姓名：<input type="text" v-model="form.name"></p>
    <p>年龄：<input type="text" v-model="form.age"></p>
    <p>性别：<input type="text" v-model="form.sex"></p>
    {{ form }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        age: '',
        sex: ''
      }
    }
  },
  created () {
    console.log('hot 创建')
  },
  beforeDestroy () {
    console.log('hot 销毁')
  }
}
</script>

<style lang="scss" scoped>

</style>
