<template>
  <div>
    <h4>搜索</h4>
    定时器：{{ count }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      count: 0
    }
  },
  // created () {
  //   console.log('search 创建')
  //   this.timer = setInterval(() => {
  //     this.count++
  //     console.log(this.count)
  //   }, 1000)
  // },
  // beforeDestroy () {
  //   console.log('search 销毁')
  //   clearInterval(this.timer)
  // }
  // 被 keep-alive 组件包裹的组件特有的生命周期，在普通的组件内不生效
  activated () {
    console.log('search 组件显示了')
    this.timer = setInterval(() => {
      this.count++
      console.log(this.count)
    }, 1000)
  },
  deactivated () {
    console.log('search 组件隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>

</style>
