<script setup>
import axios from 'axios'
import { ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 

const keywords = ref('')
const xm = reactive({ name: '小明', age: 20, info: { a: { b: 10 } } })

// 监听 ref 对象
// watch(keywords, (newKeywords) => {
//   console.log('keywords', newKeywords)
// })
// 监听 reactive 对象, 默认深度监听
// watch(xm, (newXm) => {
//   console.log('xm', newXm)
// })

// 传入函数，监听函数的返回值
// watch(() => xm.name + keywords.value, (newXm) => {
//   // 监听函数最新的返回值
//   console.log('xm', newXm)
// })

// 监听多个
// watch([keywords, xm], (newVal) => {
//   console.log('keywords 或者 xm 改变了', newVal)
// })

// 手动深度监听
// watch(() => xm, (newXm) => {
//   console.log('xm', newXm)
// }, { deep: true })

// 立即执行
// watch(xm, (newXm) => {
//   console.log('xm', newXm)
// }, { immediate: true })

// 自动监听函数内使用的变量，默认立即执行
// watchEffect(() => {
//   // console.log('keywords', keywords.value)
//   // console.log('xm.age', xm.age)
//   console.log(xm.age)
//   console.log(document.querySelector('button')?.outerHTML)
// })

// 默认情况数据改变后，页面更新前执行
// watchEffect(() => {
//   console.log(xm.age)
//   console.log(document.querySelector('button')?.outerHTML)
// }, {
//   flush: 'post' // 页面更新后执行
// })


const unwatch = watchPostEffect(() => {
  /* 在 Vue 更新后执行 */
  console.log(xm.age)
  console.log(document.querySelector('button')?.outerHTML)
})

const clearWatch = () => {
  unwatch()
}



</script>

<template>
  
  <input type="text" placeholder="搜索" v-model="keywords">{{ keywords }}
  <hr />
  {{ xm }}
  <input type="text" v-model="xm.name">
  <button @click="xm.age++">{{ xm.age }}</button>
  <button @click="clearWatch">停止监听</button>
  <input type="text" v-model="xm.info.a.b">

</template>

<style>

</style>
