<script setup>
import { ref, reactive, computed } from 'vue'
import useTitleStore from '../stores/title'
import useCounterStore from '../stores/counter'

const titleStore = useTitleStore()
const counterStore = useCounterStore()

const num = ref(100)
const add = () => {
  num.value++
}

</script>

<template>
  <h1>首页</h1>
  <h2>{{ titleStore.title }}</h2>
  <button @click="add">{{ num }}</button>
  <hr />
  <button @click="counterStore.start">开始</button>
  {{ counterStore.count }}
</template>
