<script setup>
import { RouterView } from 'vue-router'
import Menu from '../components/Menu.vue'
import Header from '../components/Header.vue'

</script>

<template>
  <div class="page">
    <Menu />
    <section>
      <Header />
      <main>
        <RouterView />
      </main>
    </section>
  </div>
</template>

<style lang='scss' scoped>
.page {
  display: flex;
}
section {
  flex: 1;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  padding: 20px;
  background: #dddddd;
}
</style>
