<script setup lang="ts">
import { RouterView } from 'vue-router'
</script>

<template>
  <RouterView />
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333333;
}
li {
  list-style-type: none;
}
html, body, #app {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333333;
}
</style>
