<template>
  <div>
    <button @click="$emit('change', -2)">-</button>
    {{ count }}
    <button @click="$emit('change', 2)">+</button>
  </div>
</template>

<script>
export default {
  props: ['count']
}
</script>

<style lang="scss" scoped>
// scoped: 样式隔离，让此style内的样式只在当前组件内生效
button {
  width: 20px;
  background: tomato;
  color: #ffffff;
}
</style>
