<template>
  <div class="mark" @click.self="$emit('close')">
    <div class="content">
      <div class="close" @click="$emit('close')">x</div>
      <h2 class="title">{{ title }}</h2>
      <div class="desc">{{ desc }}</div>
      <div class="btns">
        <button @click="$emit('cancel')">{{ cancelText }}</button>
        <button @click="$emit('ok')">{{ okText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'desc', 'cancelText', 'okText']
}
</script>

<style lang="scss">
.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #ffffff;
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 10px 20px;
}
.desc {
  flex: 1;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px;
}
.btns {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 20px;
    padding: 5px 10px;
  }
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
</style>
