<template>
  <div class="box">
    <h3>测试 v-for 和 key</h3>
    <ul>
      <li v-for="(item, index) in arr" :key="index">
        <input type="checkbox">
        {{ item }}
        <button @click="remove(index)">删除</button>
      </li>
    </ul>

  </div>
</template>

<script>
// v-for中的key：元素的唯一标识，用来性能优化，列表内容改变时根据key查找修改的元素
// 使用下标当key
// 更新前：0 1 2 3
// 更新后：0 1 2

// 使用唯一值当key
// 更新前：a b c d
// 更新后：b c d

export default {
  data () {
    return {
      arr: ['a', 'a', 'c', 'd']
    }
  },
  methods: {
    remove (index) {
      this.arr.splice(index, 1)
    }
  }
}
</script>

<style scoped>
.box {
  padding: 30px;
}
</style>
