<script setup>
import { ref } from 'vue'
import Counter from '../components/Counter.vue';

const title = ref(null)
const counterRef = ref(null)

const submit = () => {
  // 通过ref获取子组件暴露出的变量
  counterRef.value.dec()
  console.log(counterRef.value.num)
}

</script>

<template>
  <div class="page">
    <!-- 获取dom元素 -->
    <h1 ref="title">首页</h1>
    <button @click="submit">按钮</button>
    <hr />
    <!-- 通过ref获取子组件中暴露的数据 -->
    <Counter ref="counterRef" />
    <hr />
    <div class="parent">
      <div class="box"></div>
    </div>
    <!-- <div class="mask">
      <div class="content"></div>
    </div> -->
    <div class="box1">
      <div class="box2"></div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.box1 {
  // display: flex;
  width: 200px;
  height: 200px;
  background: orange;
}
.box2 {
  width: 100px;
  height: 100px;
  background: red;
  margin: 0 auto;
}
.parent {
  width: 300px;
  height: 400px;
  background: skyblue;
}
.box {
  // width、padding、margin 使用百分比的话是相对于父元素的宽
  // height 使用百分比的话是相对于父元素的高
  width: 50%;
  height: 50%;
  background: red;
  transform: translate(10%, 10%); // 相对于元素本身的宽高
  // margin-top: 10%;
  // margin-left: 10%;
  // padding-top: 10%; // 30px
  // padding-left: 10%; // 30px
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
  .content {
    width: 200px;
    height: 200px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // margin-top: -100px;
    // margin-left: -100px;
  }
}
</style>
