<script setup>

</script>

<template>
  <div class="box">box测试</div>
  <div class="page">
    <!-- <dl>
      <dt></dt>
      <dd>阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了阿兰德斯快解放啦是江东父老家啊收到了饭撒辣椒粉倒垃圾的十分理解啊都浪费时间啊来得及发拉低了</dd>
    </dl> -->
  </div>
</template>

<style lang='scss' scoped>
// px rem em vw vh
// rem: 相对于 html font-size 的相对单位 
// 1rem === html的font-size

// 1rem === 100px
// 345px === ?rem
.box {
  width: 3.45rem;
  height: 1.33rem;
  background: tomato;
  margin: 100px auto;
  font-size: 0.2rem;
}


// dl {
//   width: 100%;
//   padding: 20px;
//   border-bottom: 1px solid #cccccc;
//   display: flex;
//   dt {
//     width: 80px;
//     height: 120px;
//     background: #cccccc;
//   }
//   dd {
//     height: 120px;
//     flex: 1;
//     overflow: hidden;
//   }
// }
</style>
