<template>
  <div class="header" ref="box">
    <input type="text" ref="inp" v-model.trim="text" @keydown.enter="submit">
    <button @click="submit">提交</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: ''
    }
  },
  methods: {
    submit () {
      if (this.text) {
        this.$emit('add', this.text)
        this.text = ''
      }
      // 获取dom：this.$refs.inp
      this.$refs.inp.focus()
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  border-bottom: 1px solid #cccccc;
  padding: 20px;
  display: flex;
  input {
    flex: 1;
    margin-right: 20px;
  }
  button {
    width: 80px;
    height: 30px;
  }
}
</style>
