<template>
  <div class="list">
    <ul>
      <li v-for="(item, index) in list" :key="item.id" :class="{ done: item.checked }">
        <b>{{ item.text }}</b>
        <p :class="{ active: item.checked }" @click="$emit('change', index)">
          <span></span>
        </p>
        <button @click="$emit('del', index)">删除</button>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  props: ['list']
}
</script>

<style lang="scss" scoped>
.list {
  padding: 20px;
}
li {
  display: flex;
  align-items: center;
  border-bottom: 1px dashed #999999;
  padding: 10px 0;
  &.done {
    background: #dddddd;
    b {
      text-decoration: line-through;
    }
  }
  b {
    flex: 1;
  }
  p {
    width: 60px;
    height: 30px;
    border: 1px solid #cccccc;
    margin: 0 20px;
    background: #eeeeee;
    border-radius: 30px;
    padding: 5px;
    overflow: hidden;
    &.active {
      span {
        float: right;
        background: blue;
      }
    }
    span {
      display: block;
      width: 30px;
      height: 20px;
      background: #cccccc;
      border-radius: 20px;
    }
  }
  button {
    background: tomato;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    width: 60px;
    height: 30px;
  }
}
</style>
