<script setup>
import { ref } from 'vue'

const num = ref(0)

const add = () => {
  num.value++
}

const dec = () => {
  num.value--
}

// 定义暴露给父组件的变量，父组件可以通过ref使用暴露出的变量
defineExpose({
  num,
  add,
  // dec
})

</script>

<template>
  <button @click="dec">-</button>
  {{ num }}
  <button @click="add">+</button>
</template>

<style lang='scss' scoped>

</style>
