* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.app {
  width: 300px;
  margin: 100px auto;
}
nav {
  display: flex;
  line-height: 40px;
  border: 1px solid #999999;
  span {
    flex: 1;
    text-align: center;
    cursor: pointer;
    &.active {
      background: tomato;
      color: #ffffff;
    }
  }
}
ul {
  border: 1px solid #999999;
  border-top: none;
  height: 400px;
}