<template>
  <div>
    <div class="box1">
      <button @click="$emit('update:count1', count1 - 1)">-</button>
      {{ count1 }}
      <button @click="$emit('update:count1', count1 + 1)">+</button>
    </div>
    <div class="box2">
      <button @click="$emit('update:count2', count2 - 1)">-</button>
      {{ count2 }}
      <button @click="$emit('update:count2', count2 + 1)">+</button>
    </div>
  </div>
</template>

<script>
export default {
  props: ['count1', 'count2']
}
</script>

<style scoped>
button {
  width: 30px;
}
</style>
