<template>
  <div class="myinput">
    <p>{{ label }}:
      <input type="text" :value="val" @input="$emit('update:val', $event.target.value)">
    </p>
  </div>
</template>

<script>
export default {
  props: ['label', 'val'],
  methods: {
  }
}
</script>

<style lang="scss">
.myinput {
  background: red;
}
</style>
