<template>
  <div class="home">
    <main>
      <router-view></router-view>
    </main>
    <van-tabbar route  active-color="#ee0a24">
      <van-tabbar-item to="/product" icon="wap-home-o">配送到家</van-tabbar-item>
      <van-tabbar-item to="/cart" icon="cart-o" :badge="total.count">购物车</van-tabbar-item>
      <van-tabbar-item to="/mine" icon="user-o">我的</van-tabbar-item>
    </van-tabbar>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters(['total'])
  }
}
</script>

<style lang="scss" scoped>
.home {
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
}
main {
  height: 100%;
  overflow: hidden;
}
</style>
