.page {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(https://img.alicdn.com/tfs/TB1cpTewMHqK1RjSZFEXXcGMXXa-2872-1580.png) no-repeat;
  background-size: cover;
}
.wrap {
  padding: 20px;
  background: #ffffff;
  border-radius: 5px;
  h2 {
    text-align: center;
  }
}
.form {
  width: 300px;
}