<script setup>
import { getMvDetail, getMvUrl, getCommentMv } from '@/services/index.js'
import { ref } from 'vue'
import { onLoad } from '@dcloudio/uni-app'
import Comments from '@/components/comments.vue'

const url = ref('')
const info = ref({})
const visible = ref(false)
const commentsTotal = ref(0)
const hotComments = ref([])
const comments = ref([])


// 获取详情
const getMvDetailApi = async id => {
  const res = await getMvDetail(id)
  console.log('详情', res.data.data)
  info.value = res.data.data
}
// 获取url
const getMvUrlApi = async id => {
  const res = await getMvUrl(id)
  console.log('播放地址', res.data.data.url)
  url.value = res.data.data.url
}
// 获取评论
const getCommentMvApi = async id => {
  const res = await getCommentMv(id)
  console.log('评论', res.data)
  hotComments.value = res.data.hotComments
  comments.value = res.data.comments
  commentsTotal.value = res.data.total
}

onLoad(options => {
  getMvDetailApi(options.id)
  getMvUrlApi(options.id)
  getCommentMvApi(options.id)
})
  
</script>

<template>
  <view>
    <video class="video" :poster="info.cover" :src="url"></video>
    <view>{{info.name}}</view>
    <view>{{info.artistName}}</view>
    <view>{{info.desc}}</view>
    <button type="primary" size="mini" @click="visible = true">评论({{commentsTotal}})</button>
    <Comments
      v-model:visible="visible"
      :hotComments="hotComments"
      :comments="comments"
    />
  </view>
</template>

<style lang="scss" scoped>
.video {
  width: 100%;
}
</style>
