<template>
  <div class="app">
    <h1>组件</h1>
    <!-- v-model 就是 参数名为value 事件名为 input 的语法糖 -->
    <MyInput label="姓名" v-model="form.name" />
    <MyInput label="姓名" :value="form.name" @input="form.name = $event" />
    <!-- <MyInput label="年龄" :value="form.age" @input="form.age = $event" /> -->
    {{ form }}
    <!-- <input type="text" :value="text" @input="text = $event.target.value"> {{ text }}
    <input type="text" v-model="text" > -->
    <hr />
    <Button :a="count" @changeA="count = $event" />
    <Button v-model="count" />
    {{ count }}
  </div>
</template>

<script>
import MyInput from './components/MyInput.vue'
import Button from './components/Button.vue'

export default {
  data () {
    return {
      // text: 'test',
      form: {
        name: '晓明哥',
        age: 20
      },
      count: 10
    }
  },
  methods: {
  },
  components: {
    MyInput,
    Button
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
