<script setup lang="ts">
import { useRouter } from 'vue-router'
import { getUserAccount } from '@/services/api'
import useUserStore from '@/stores/user'

const userStore = useUserStore()

const router = useRouter()
const goSearch = () => {
  router.push('/search')
}

// 用户信息接口
getUserAccount().then(res => {
  userStore.account = res.data.account
  userStore.profile = res.data.profile
})



</script>

<template>
  <header>
    <p @click="goSearch">搜索</p>

    <button v-if="!userStore.profile?.userId" class="login-btn" @click="router.push('/login')">登录</button>
  </header>
</template>

<style lang='scss' scoped>
header {
  width: 100%;
  padding: 10px 15px;
  p {
    height: 40px;
    background: #eeeeee;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    color: #cccccc;
  }
}
.login-btn {
  width: 100%;
  height: 40px;
  border: none;
  background: tomato;
  border-radius: 40px;
  margin-top: 20px;
  color: #ffffff;
}
</style>
