<script setup lang="ts">
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { getQrKey, getQrCreate, getQrCheck } from '@/services/api'
import { QrStatus } from '@/services/constant'
import QRCode from 'qrcode'

const router = useRouter()
const qrkey = ref('') // 二维码key
const qrimg = ref('') // 二维码图片
const qrStatus = ref('等待扫码')
const qrStatusCode = ref<QrStatus>(801)

const qrMeg = {
  [QrStatus.success]: '登陆成功',
  [QrStatus.error]: '二维码过期，请重新获取',
  [QrStatus.wait]: '等待扫码',
  [QrStatus.confirm]: '扫码成功，等待用户确认'
}
const checkQrStatus = async () => {
  const res = await getQrCheck(qrkey.value)
  qrStatusCode.value = res.data.code // 获取当前二维码状态
  qrStatus.value = qrMeg[res.data.code] // 获取当前二维码提示信息
  if (res.data.code === QrStatus.success) {
    alert('登陆成功')
    // 把后端返回的cookie信息存到本地
    localStorage.setItem('cookie', res.data.cookie)
    router.replace('/')
  } else if (res.data.code === QrStatus.wait || res.data.code === QrStatus.confirm) {
    setTimeout(() => {
      checkQrStatus()
    }, 1000)
  }
}

const getqrkey = async () => {
  const res = await getQrKey() // 获取key
  qrkey.value = res.data.data.unikey
  const qrRes = await getQrCreate(qrkey.value) // 获取二维码信息
  const qrurlimg = await QRCode.toDataURL(qrRes.data.data.qrurl) // 调用第三方插件生成二维码
  qrimg.value = qrurlimg
  checkQrStatus() // 开始检测二维码状态
}

getqrkey()

</script>

<template>
  <div class="login">
    <h2>扫码登陆</h2>
    <div class="qrimg">
      <img :src="qrimg" alt="">
      <div class="mask" v-if="qrStatusCode === QrStatus.error">
        <p>{{ qrStatus }}</p>
        <button @click="getqrkey">刷新二维码</button>
      </div>
    </div>
    <p>{{ qrStatus }}</p>
  </div>
</template>

<style lang='scss' scoped>
.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h2 {
    margin-bottom: 20px;
  }
}
.qrimg {
  width: 180px;
  height: 180px;
  background: #eeeeee;
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #ffffff, $alpha: .8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
</style>
