<script setup lang="ts">
import { ref, onMounted, watch } from 'vue'
import { getSearchHot, getSearchSuggest, getSearchResult } from '../services/api'
import type { HotsItem, SuggestItem, SongsItem } from '@/services/api-types'
import SearchHot from '../components/SearchHot.vue'
import Suggest from '../components/Suggest.vue'
import SearchResult from '../components/SearchResult.vue'

enum pageEnum {
  default = 0, // 默认热搜
  suggest = 1, // 搜索建议
  result = 2 // 搜索结果
}

const inp = ref<HTMLInputElement>()
const searchHotList = ref<HotsItem[]>([]) // 热搜列表
const keywords = ref('') // 搜索框内容
const suggestList = ref<SuggestItem[]>([]) // 搜索建议列表
const showpage = ref<pageEnum>(pageEnum.default) // 显示页面
const resultList = ref<SongsItem[]>([]) // 搜索结果

// 热搜
const getSearchHotApi = async () => {
  const res = await getSearchHot()
  console.log(res)
  searchHotList.value = res.data.result.hots
}
getSearchHotApi()

// 监听搜索框内容改变
const getSuggest = async () =>{
  // 添加防抖，连续多次调用同一个函数只执行最后一次
  if (keywords.value) {
    showpage.value = pageEnum.suggest
    const res = await getSearchSuggest(keywords.value)
    suggestList.value = res.data.result.allMatch
  } else {
    suggestList.value = []
    showpage.value = pageEnum.default
  }
}
let timer: number | null = null
const getSuggestDebounce = () => {
  if (timer) clearTimeout(timer)
  timer = setTimeout(() => {
    getSuggest()
    timer = null
  }, 300)
}
const addHistory = (keyword: string) => {
  const historylist: string[] = JSON.parse(localStorage.getItem('history') as string) || []
  const index = historylist.indexOf(keyword)
  if (index > -1) {
    historylist.splice(index, 1)
  }
  historylist.unshift(keyword)
  localStorage.setItem('history', JSON.stringify(historylist))
}
// 开始搜索
const startSearch = async (keyword: string) => {
  showpage.value = pageEnum.result
  keywords.value = keyword
  suggestList.value = []
  resultList.value = []
  addHistory(keyword)
  const res = await getSearchResult(keyword)
  resultList.value = res.data.result.songs
}

onMounted(() => {
  // 组件加载成功自动获取焦点
  inp.value?.focus()
})

</script>

<template>
  <header>
    <input type="text" placeholder="搜索歌曲/歌手" ref="inp" @input="getSuggestDebounce" v-model="keywords">
  </header>
  <Suggest
    v-if="showpage === pageEnum.suggest"
    :list="suggestList"
    :keywords="keywords"
    @handleClick="startSearch"
  />
  <SearchResult v-else-if="showpage === pageEnum.result" :list="resultList" />
  <SearchHot v-else :list="searchHotList" @search="startSearch"/>
</template>

<style lang='scss' scoped>
header {
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #dddddd;
  input {
    width: 100%;
    height: 30px;
    background: #eeeeee;
    border-radius: 20px;
    border: none;
    outline: none;
    padding: 0 15px;
  }
}
</style>
