.list {
  overflow: auto;
  dl {
    display: flex;
    dt {
      width: 120px;
    }
    dd {
      flex: 1;
      border-bottom: 1px solid #cccccc;
    }
  }
  .price {
    color: red;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  dl {
    width: 50%;
    flex-direction: column;
    dt {
      width: 100%;
    }
  }
}