<script setup>
// 组合式api
import { onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 


onMounted(() => {
  console.log('组件挂载完成', document.querySelector('h1'))
})


onMounted(() => {
  console.log('组件挂载完成11111111')
})


</script>

<template>
  
  <h1>标题</h1>


</template>

<style>

</style>
