<template>
  <div>
    <button @click="$emit('changeA', a - 1)">-</button>
    {{ a }}
    <button @click="$emit('changeA', a + 1)">+</button>
  </div>
</template>

<script>
export default {
  // 修改v-model使用的属性名和事件名，默认是 value 属性和 input 事件
  model: {
    prop: 'a',
    event: 'changeA'
  },
  props: ['a']
}
</script>

<style scoped>
button {
  width: 30px;
}
</style>
