<template>
  <div>
    <p>{{ label }}:
      <input type="text" :value="value" @input="$emit('input', $event.target.value)">
    </p>
  </div>
</template>

<script>
export default {
  props: ['label', 'value'],
  methods: {
  }
}
</script>

<style lang="scss">

</style>
