<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2 :class="">v-bind</h2>
    <button @click="changeImg">给图片赋值</button>
    <!-- v-bind: 让标签的属性可以使用变量 -->
    <img v-bind:src="url" width="200" alt="">
    <!-- v-bind: 简写 : -->
    <img :src="url" width="200" alt="">
    <hr />
    <button v-bind:disabled="count <= 0" @click="count--">-</button>
    {{ count }}
    <button @click="count++">+</button>
    <div class="box" :style="[{ width: count + 'px', height: count + 'px' }, { background: 'red' }]"></div>
  </div>

  <script>


    let vm = new Vue({
      el: '.app', // 挂载元素，在此元素中可以使用vue语法
      data: { // 定义数据，此对象中的属性可以直接在 .app 元素内使用
        url: '',
        count: 0
      },
      methods: { // 定义方法, 方法中的 this 指向 vue 实例对象
        changeImg() {
          if (this.url) {
            this.url = ''
          } else {
            this.url = 'https://img1.baidu.com/it/u=413643897,2296924942&fm=253&fmt=auto&app=138&f=JPEG?w=800&h=500'
          }
        }
      }
    })
    console.log(vm)








  </script>
</body>
</html>