<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
    .box {
      background: #ccc;
    }
  </style>
</head>
<body>
  <div class="app">
    <!-- <ul>
      <li v-for="(item, index) in arr">{{ index + 1 }}、{{ item }}</li>
    </ul> -->
    <!-- <div v-for="item in arr1" class="box">
      <h3>{{ item.name }}</h3>
      <p>年龄: {{ item.age }}</p>
      <p>爱好: 
        <b v-for="val in item.hobby">{{ val }}</b>
      </p>
    </div> -->

    <!-- <ul>
      <li v-for="(n, i) in 4">{{ n }} -- {{ i }}</li>
    </ul> -->
    <!-- <ul>
      <li v-for="(n, i) in 'app'">{{ n }} -- {{ i }}</li>
    </ul> -->

    <!-- <ul>
      <li v-for="(val, key, index) in obj">{{ val }} -- {{ key }} -- {{index}}</li>
    </ul> -->

  </div>

  <script>


    let vm = new Vue({
      el: '.app', // 挂载元素，在此元素中可以使用vue语法
      data: { // 定义数据，此对象中的属性可以直接在 .app 元素内使用
        count: 4,
        obj: {
          name: '小刚',
          age: 30,
          sex: '男'
        },
        arr: ['A', 'B', 'C', 'D', 'E', 'F'],
        arr1: [
          {
            name: '王小明',
            age: 20,
            hobby: ['唱歌', '跳舞']
          },
          {
            name: '张三',
            age: 23,
            hobby: ['rap', '篮球']
          }
        ]
      }
    })
    console.log(vm)








  </script>
</body>
</html>