<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- <p v-if="num >= 90">90分以上</p>
    <p v-else-if="num >= 60 && num < 90">及格</p>
    <p v-else>不及格</p> -->

    <p v-show="num >= 90">90分以上</p>
    <p v-show="num >= 60 && num < 90">及格</p>
    <p v-show="num < 60">不及格</p>
  </div>

  <script>


    let vm = new Vue({
      el: '.app', // 挂载元素，在此元素中可以使用vue语法
      data: { // 定义数据，此对象中的属性可以直接在 .app 元素内使用
        num: 10,
        flag: true
      }
    })
    console.log(vm)







  </script>
</body>
</html>