<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- 声明式渲染，只能渲染表达式，不能渲染语句 -->
    <h1>{{ title }}</h1>
    <p>{{ a }}</p>
    <p>{{ flag }}</p>
    <p>{{ arr.join('').length + 100 }}</p>
    <p>{{ obj }}</p>
    <hr />
    <p v-text="text"></p>
    <p v-html="text"></p>
  </div>

  <script>


    let vm = new Vue({
      el: '.app', // 挂载元素，在此元素中可以使用vue语法
      data: { // 定义数据，此对象中的属性可以直接在 .app 元素内使用
        title: '开始学习vue',
        a: 10,
        flag: true,
        arr: [1,2,3,4,5],
        obj: { name: '小明', age: 20 },
        text: '<h3>h3标签</h3>'
      }
    })
    console.log(vm)







  </script>
</body>
</html>