<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
    .box {
      background: #ccc;
    }
  </style>
</head>
<body>
  <div class="app">
    <!-- <p>按钮点击次数: {{ count }}</p>
    <button v-if="count > 0" v-on:click="count--">-</button>
     v-on: 简写 @ 
    <button @click="count++">+</button> -->
    <p @click="clickFn">按钮点击次数: {{ count }}</p>
    <button @click="changeCount(-1, $event)">-</button>
    <button @click="changeCount(1, $event)">+</button>
    <hr />
    <button @click="add">添加数据</button>
    <ul>
      <li v-for="(item, index) in arr">
        {{ item }}
        <button @click="remove(index)">删除</button>
      </li>
    </ul>
    <hr />
    <h2>{{ title }}</h2>
    <input type="text" @input="inputFn">
  </div>

  <script>


    let vm = new Vue({
      el: '.app', // 挂载元素，在此元素中可以使用vue语法
      data: { // 定义数据，此对象中的属性可以直接在 .app 元素内使用
        count: 0,
        arr: [1, 2],
        title: '标题'
      },
      methods: { // 定义方法, 方法中的 this 指向 vue 实例对象
        inputFn(e) {
          console.log(e.target.value)
          this.title = e.target.value
        },
        add() {
          this.arr.push(this.arr.length + 1)
        },
        remove(index) {
          this.arr.splice(index, 1)
        },
        changeCount(n, e) {
          // e: 事件对象
          this.count += n
        },
        clickFn(e) {
          // e: 事件对象
          console.log(e.target)
        }
      }
    })
    console.log(vm)








  </script>
</body>
</html>