<template>
  <div class="box">
    <h3>child1-2 {{ num }}</h3>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 200
    }
  },
  mounted () {
    this.$bus.$on('add', n => {
      this.num += n
    })
  }
}
</script>

<style>

</style>
