<template>
  <div class="box">
    <h3>child2-1</h3>
    <Child22 />
  </div>
</template>

<script>
import Child22 from './Child2-2.vue'
export default {
  components: {
    Child22
  }
}
</script>

<style>

</style>
