<template>
  <div class="box">
    <h3>child1</h3>
    <Child11 />
  </div>
</template>

<script>
import Child11 from './Child1-1.vue'
export default {
  components: {
    Child11
  }
}
</script>

<style>

</style>
