<template>
  <div class="box">
    <h3>child2</h3>
    <Child21 />
  </div>
</template>

<script>
import Child21 from './Child2-1.vue'
export default {
  components: {
    Child21
  }
}
</script>

<style>

</style>
