<template>
  <div class="box">
    <h3>child2-2</h3>
    <button @click="add">按钮</button>
    {{ title }}
  </div>
</template>

<script>
export default {
  inject: ['foo', 'title'],
  methods: {
    add () {
      this.$bus.$emit('add', 2)
    }
  },
  mounted () {
  }
}
</script>

<style>

</style>
