<template>
  <div class="box">
    <h3>child1-1</h3>
    <Child12 />
  </div>
</template>

<script>
import Child12 from './Child1-2.vue'
export default {
  components: {
    Child12
  }
}
</script>

<style>

</style>
