<script setup>
import { reactive, ref, watch } from 'vue'
import { RouterLink, useRoute, useRouter } from 'vue-router'
import { tablistConfig } from '../constant'

const curIndex = ref(0)
const tablist = reactive(tablistConfig)
const title = ref('')
const route = useRoute()
const router = useRouter()

watch(route, () => {
  // 当前路由改变，查找对应的标题和当前所在的父级下标
  tablist.forEach((item, index) => {
    item.list.forEach(val => {
      if (val.path === route.path) {
        title.value = val.title
        curIndex.value = index
      }
    })
  })
}, { immediate: true })

const changeTab = index => {
  curIndex.value = index
  router.push(tablist[index].list[0].path)
}
</script>

<template>
  <div class="menu">
    <div class="tab-bar">
      <div
        v-for="(item, index) in tablist"
        :key="item.title"
        :class="['tab-item', { active: curIndex === index }]"
        @click="changeTab(index)"
      >{{ item.title }}</div>
    </div>
    <div class="tab-con">
      <div class="title">{{ title }}</div>
      <ul>
        <li v-for="item in tablist[curIndex].list" :key="item.title">
          <RouterLink :to="item.path">{{ item.title }}</RouterLink>
        </li>
      </ul>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.menu {
  width: 220px;
  background: #333333;
  display: flex;
}
.tab-bar {
  width: 100px;
  padding-top: 100px;
}
.tab-item {
  line-height: 80px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  &.active {
    background: #666666;
    border-left: 2px solid #ffffff;
  }
}
.tab-con {
  flex: 1;
  background: #999999;
}
.title {
  height: 100px;
  text-align: center;
  line-height: 100px;
  border-bottom: 2px solid #ffffff;
}
li {
  text-align: center;
  line-height: 45px;
  a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    &.router-link-active {
      background: orange;
    }
  }
}
</style>
