<template>
  <div class="wrap">
    <header></header>
    <div class="list">
      <div class="menu" ref="menu">
        <div>
          <p
            v-for="(item, index) in list"
            :key="item.name"
            :class="{ active: curIndex === index }"
            @click="changeTab(index)"
          >{{ item.name }}</p>
        </div>
      </div>
      <div class="goods" ref="goods">
        <div class="foods-wrap" ref="foodsWrap">
          <div class="food-wrap" v-for="item in list" :key="item.name">
            <h3>{{ item.name }}</h3>
            <ul>
              <li v-for="food in item.foods" :key="food.name">
                <div class="img"><img :src="food.image" alt=""></div>
                <div class="food-info">
                  <h4>{{ food.name }}</h4>
                  <p>月售{{food.sellCount}}份 好评率{{food.rating}}%</p>
                  <p>¥{{ food.price }}</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div v-if="scrollY < 0" class="title" :style="{ transform: `translateY(${titleY}px)` }">{{ list[curIndex]?.name }}</div>
      </div>
    </div>
    <footer></footer>
  </div>
</template>

<script>
import axios from 'axios'
import BetterScroll from 'better-scroll'

export default {
  data () {
    return {
      curIndex: 0,
      list: [],
      scrollTopList: [],
      clickLeft: false,
      titleY: 0,
      scrollY: 0
    }
  },
  watch: {
    curIndex () {
      this.menuBs.scrollTo(0, this.curIndex * -80 + 160, 300)
    }
  },
  methods: {
    changeTab (index) {
      this.curIndex = index
      this.clickLeft = true
      this.foodBs.scrollTo(0, this.scrollTopList[index] * -1, 300)
    }
  },
  async created () {
    const res = await axios.get('/mqq/sell/api/goods')
    this.list = res.data.data
    this.$nextTick(() => {
      this.menuBs = new BetterScroll(this.$refs.menu, {
        click: true
      })
      this.foodBs = new BetterScroll(this.$refs.goods, {
        click: true,
        probeType: 3
      })
      const scrollFn = position => {
        const absY = Math.abs(position.y)
        if (!this.clickLeft) {
          this.scrollTopList.forEach((t, i) => {
            if (this.scrollTopList[i + 1] && absY >= t && absY < this.scrollTopList[i + 1]) {
              this.curIndex = i
            }
            if (absY >= this.scrollTopList[this.scrollTopList.length - 1]) {
              this.curIndex = this.scrollTopList.length - 1
            }
          })
          const disY = this.scrollTopList[this.curIndex + 1] - absY
          if (disY <= 26) {
            console.log(absY, this.scrollTopList[this.curIndex + 1], disY)
            this.titleY = disY - 26
          } else {
            this.titleY = 0
          }
        }
        this.scrollY = position.y
        console.log(this.scrollY)
      }
      this.foodBs.on('scroll', scrollFn)
      this.foodBs.on('scrollEnd', pos => {
        this.clickLeft = false
        scrollFn(pos)
      })
      this.scrollTopList = [...this.$refs.foodsWrap.children].map(item => item.offsetTop)
      console.log(this.scrollTopList)
    })
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  vertical-align: middle;
}
li {
  list-style-type: none;
}
.wrap {
  display: flex;
  flex-direction: column;
}
header {
  height: 250px;
  background: tomato;
}
footer {
  height: 50px;
  background: #000000;
}
.list {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.menu {
  width: 80px;
  background: #f3f5f7;
  p {
    height: 80px;
    border-bottom: 1px dashed #cccccc;
    font-size: 12px;
    padding: 0 14px;
    text-align: center;
    color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .active {
    background: green;
    color: #ffffff;
  }
}
.goods {
  flex: 1;
  position: relative;
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #f3f5f7;
  border-left: 2px solid #d9dde1;
  color: #666;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  padding-left: 14px;
}
.food-wrap {
  h3 {
    background: #f3f5f7;
    border-left: 2px solid #d9dde1;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 14px;
  }
  li {
    display: flex;
    padding: 20px;
  }
  .img {
    width: 50px;
  }
  .food-info {
    flex: 1;
    padding-left: 20px;
  }
  .btns {
    float: right;
    display: flex;
    span {
      width: 30px;
      text-align: center;
      font-size: 14px;
    }
    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: skyblue;
      color: #ffffff;
      border: none;
    }
  }
}
</style>
