<template>
  <div>
    <h2>{{ info.name }}</h2>
    <!-- {{ info }} -->
    <hr />
    <router-link to="/detail/6405">跳转到《八角笼中》</router-link>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  methods: {
    async getData () {
      // this.$route: 当前路由信息
      // const filmId = this.$route.query.filmId // 获取 ? 后的参数
      const filmId = this.$route.params.id // 获取动态路由参数
      console.log('ddd', this.$route)
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          filmId: filmId,
          k: 952069
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16659764383978050249162753","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.info'
        }
      })
      this.info = res.data.data.film
      console.log('ddd', res.data.data.film)
    }
  },
  async created () {
    this.getData()
  },
  beforeRouteEnter (to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    console.log('ddd beforeRouteEnter')
    next()
  },
  beforeRouteUpdate (to, from, next) {
    // 在当前路由改变，但是该组件被复用时调用
    // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
    // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
    // 可以访问组件实例 `this`
    console.log('ddd beforeRouteUpdate')
    next()
    this.getData()
  },
  beforeRouteLeave (to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    console.log('bbb 点击了返回按钮')
    if (window.confirm('确定要离开吗')) {
      next()
    } else {
      this.$router.forward()
    }
  }
}
</script>

<style>

</style>
