<template>
  <div class="app">
    <button @click="showBack = true">离开</button>
    <h1>组件</h1>
    <ul>
      <li>数据1 <button @click="showDel = true">删除</button></li>
    </ul>
    <footer>
      总价：100
      <button>去支付</button>
    </footer>
    <Dialog
      v-if="showBack"
      title="提示"
      desc="你真的要残忍离开吗？"
      cancelText="我再看看"
      okText="残忍离开"
      @close="closeBack"
      @cancel="closeBack"
      @ok="okFn"
    />
    <Dialog
      v-if="showDel"
      title="警告"
      desc="删除之后无法恢复数据，确定要删除吗？"
      cancelText="取消"
      okText="删除"
      @close="showDel = false"
      @cancel="showDel = false"
      @ok="remove"
    />
    <hr />
    <ButtonCounter :count="num" @change="changeNum" />
    <hr />
    <TestKey />
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
import ButtonCounter from './components/ButtonCounter.vue'
import TestKey from './components/TestKey.vue'

export default {
  data () {
    return {
      showBack: false,
      showDel: false,
      num: 1
    }
  },
  methods: {
    changeNum (n) {
      console.log('n:', n)
      this.num += n
    },
    closeBack () {
      this.showBack = false
    },
    okFn () {
      alert('离开')
      history.back()
    },
    remove () {
      alert('删除成功')
    }
  },
  components: {
    Dialog,
    ButtonCounter,
    TestKey
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.app {
  padding: 30px;
}
</style>
