<template>
  <div class="cartpage">
    <van-contact-card
      :type="curAddress.name ? 'edit' : 'add'"
      :name="curAddress.name"
      :tel="curAddress.tel"
      @click="$router.push('/address')"
    />
    <van-empty
      v-if="cartList.length === 0"
      class="custom-image"
      image="https://img.dmallcdn.com//dshop/201805/324b1ec1-0ada-410e-8970-23cc28812c9b"
      description="购物车还没有商品"
    />
    <template v-else>
      <van-cell
        v-for="item in cartList"
        :key="item.wareId"
        :title="item.wareName"
        :label="`¥${item.warePrice / 100}`"
      >
        <template #icon>
          <van-checkbox :value="item.checked" @click="changeCartChecked(item)"></van-checkbox>
        </template>
        <template #right-icon>
          <div class="btns">
            <van-button size="mini" type="primary" plain icon="minus" @click="minus(item)"  />
            <span>{{ item.wareCount }}</span>
            <van-button size="mini" type="primary" icon="plus" @click="changeCartList({ goods: item, type: 1 })" />
          </div>
        </template>
      </van-cell>
      <van-submit-bar :price="total.price" button-text="提交订单" @submit="onSubmit">
        <van-checkbox v-model="checkedAll" @click="changeAll(checkedAll)">全选</van-checkbox>
      </van-submit-bar>
    </template>
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'
export default {
  data () {
    return {
      checkedAll: false
    }
  },
  computed: {
    ...mapState(['cartList', 'curAddress']),
    ...mapGetters(['total'])
  },
  methods: {
    ...mapMutations(['changeCartList', 'changeCartChecked', 'changeAll']),
    onSubmit () {
      console.log('提交')
    },
    minus (goods) {
      if (goods.wareCount > 1) {
        this.changeCartList({ goods, type: -1 })
      } else {
        this.$dialog.confirm({
          title: '提示',
          message: '确定删除此商品吗？'
        })
          .then(() => {
            this.changeCartList({ goods, type: -1 })
          })
          .catch(() => {
            console.log('取消')
          })
      }
    }
  },
  watch: {
    cartList: {
      handler () {
        this.checkedAll = this.cartList.every(item => item.checked)
      },
      deep: true,
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.cartpage {
  overflow: auto;
  height: 100%;
  ::v-deep .van-cell__title {
    margin: 0 10px !important;
  }
}
.van-submit-bar {
  position: static;
}
.btns {
  display: flex;
  align-items: center;
  span {
    min-width: 20px;
    text-align: center;
  }
}
.custom-image ::v-deep .van-empty__image {
  width: 90px;
  height: 90px;
}

</style>
