<template>
  <div class="page">
    <h2>影院页面</h2>
    <router-link to="/city">选择城市</router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.page {
}
</style>
