<script setup>
import { inject, ref, watch } from 'vue'
import useCountDown from '../hooks/countDown'
const nn = inject('name')
const text = ref('')

// 使用组合式函数抽离公共逻辑，名称一般已 use 开头
const { count, start, stop } = useCountDown(100)

watch(text, val => {
  if (val === 'start') {
    start()
  } else if (val === 'stop') {
    stop()
  }
})


</script>

<template>
  <div class="box">
    <h2>第三层组件</h2>
    {{ nn }}
    <input type="text" v-model="text">
    <p>倒计时: {{ count }}</p>
    <button @click="count++">+</button>
  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 3px solid orange;
  padding: 50px;
}
</style>
