<script setup>
import Child2 from './Child2.vue'
import { ref } from 'vue'
import useCountDown from '../hooks/countDown'

const { count, start, stop } = useCountDown(30)

</script>

<template>
  <div class="box">
    <h2>第二层组件</h2>
    <button @click="start">开始</button>
    <button @click="stop">暂停</button>
    <p>倒计时: {{ count }} </p>
    <Child2></Child2>
  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 3px solid tomato;
  padding: 50px;
}
</style>
