.control {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
.switch {
  width: 50px;
  text-align: center;
  p {
    width: 50px;
    height: 20px;
    background: #000000;
    padding: 3px;
    cursor: pointer;
    span {
      display: block;
      width: 20px;
      height: 14px;
      background: blue;
      transition: transform 0.3s linear;
    }
    .on {
      transform: translateX(24px);
    }
  }
}
.title {
  width: 120px;
  height: 40px;
  background: #999999;
  margin: 20px 0;
  text-align: center;
  line-height: 40px;
}
.volume {
  width: 80%;
  height: 6px;
  background: #333333;
  margin-bottom: 20px;
  position: relative;
  i {
    position: absolute;
    top: -7px;
    left: 0;
    width: 8px;
    height: 20px;
    background: blue;
    cursor: pointer;
  }
}