.home {
  min-height: 100vh;
  background: #eeeeee;
  nav {
    border-bottom: 1px solid #999999;
    padding: 10px 20px;
    display: flex;
    background: #ffffff;
    a {
      padding: 10px;
      &:hover {
        background: #eeeeee;
      }
      &.active {
        background: tomato;
        color: #ffffff;
      }
    }
  }
  main {
    padding: 20px;
  }
}