<template>
  <div class="wrap">
    <h2>混入</h2>
    <button @click="show = !show">显示隐藏</button>
    <First v-if="show" />
    <Second />
    <Third />
  </div>
</template>

<script>
import First from './components/First.vue'
import Second from './components/Second.vue'
import Third from './components/Third.vue'

export default {
  data () {
    return {
      show: true
    }
  },
  components: {
    First,
    Second,
    Third
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.box {
  flex: 1;
  border: 2px solid;
}
</style>
