<template>
  <div>
    <h1>详情页面</h1>
    <h2>{{ curInfo.name }}</h2>
    <p>{{ curInfo.address }}</p>
    {{curInfo}}
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
export default {
  methods: {
    ...mapActions(['getList'])
  },
  computed: {
    ...mapState(['list']),
    curInfo () {
      return this.list.find(item => item.cinemaId === Number(this.$route.params.id)) || {}
    }
  },
  created () {
    // 调用 store 中的 actions
    // this.$store.dispatch('getList')
    this.getList()
  }
}
</script>

<style>

</style>
