<template>
  <div>
    <h1>首页</h1>
    <ul>
      <li v-for="item in list" :key="item.cinemaId" @click="goDetail(item.cinemaId)">
        <h4>{{ item.name }}</h4>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['list'])
  },
  methods: {
    goDetail (id) {
      this.$router.push({
        name: 'detail',
        params: {
          id
        }
      })
    }
  },
  created () {
    // 调用 store 中的 actions
    this.$store.dispatch('getList', 'abcdefg')
    console.log(this.$store)
  }
}
</script>

<style>

</style>
