* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
html, body, #root, .app, .page {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  & > .adm-nav-bar {
    background: #1677ff;
    color: #ffffff;
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}