<script setup>
// 组合式api
import { reactive, ref, computed } from 'vue' 
const list = reactive([
  {
    title: '苹果',
    price: 10,
    count: 0,
    checked: true
  },
  {
    title: '香蕉',
    price: 20,
    count: 0,
    checked: true
  },
  {
    title: '梨',
    price: 15,
    count: 0,
    checked: true
  }
])

// 返回一个 ref 对象,在 js 中使用需要通过 value 属性获取
const total = computed(() => {
  return list.reduce((prev, val) => {
    return prev + (val.checked ? val.count * val.price : 0)
  }, 0)
})

console.log(total.value)

const totalCount = computed(() => {
  return list.reduce((prev, val) => {
    return prev + val.count
  }, 0) 
})

</script>

<template>
  <ul>
    <li v-for="item in list" :key="item.title">
      <input type="checkbox" v-model="item.checked">
      <h3>{{ item.title }}</h3>
      <p>价格： ¥{{ item.price }}</p>
      <button @click="item.count--">-</button>
      {{ item.count }}
      <button @click="item.count++">+</button>
    </li>
  </ul>
  <footer>总价：¥{{ total }}</footer>
  <div>总数: {{ totalCount }}</div>
  <!-- {{ list }} -->



</template>

<style>

</style>
