<script setup>
import { ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 
import MyInput from './components/MyInput.vue'

const obj = reactive({
  name: '丁真',
  address: '理塘',
  age: 22
})

const clickfn = () => {
  console.log('点击触发')
}
</script>

<template>
{{ obj }}
<!-- 透传属性和事件：class style v-on绑定的事件 -->
<MyInput v-model="obj.name" v-model:age="obj.age" class="abc" @click="clickfn" />




</template>

<style lang="scss">
.abc {
  background: green;
}
</style>
