<template>
  <div>
    <h1>我的</h1>
    {{ title1 }}
    <button @click="clickfn">修改test1仓库</button>
    <br />
    {{ title2 }}
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    // ...mapState('test1', ['title']),
    ...mapState({
      title1: state => state.test1.title,
      title2: state => state.test2.title
    })
  },
  methods: {
    ...mapMutations('test1', ['setTitle']),
    clickfn () {
      this.setTitle('aaaaaaa')
      // this.$store.commit('test2/setTitle', '新数据')
    }
  },
  created () {
    console.log(this.$store.state)
  }
}
</script>

<style>

</style>
