<template>
  <div class="app">
    <Header :sortType="sortType" @changeSortType="changeSortType" @change="changeSearchVal" />
    <List :list="curList" />
    <Footer
      :page="page"
      :pagesize="pagesize"
      :totalPage="totalPage"
      @changePage="changePage"
      @changePageSize="changePageSize"
    />
  </div>
</template>

<script>
import axios from 'axios'
import List from './components/List.vue'
import Header from './components/Header.vue'
import Footer from './components/Footer.vue'

export default {
  data () {
    return {
      list: [], // 所有数据
      page: 1,
      pagesize: 3,
      searchVal: '',
      sortType: 0 // 0: 默认排序 1: 升序 2: 降序
    }
  },
  methods: {
    // 切换页数
    changePage (page) {
      this.page = page
    },
    // 切换每页条数
    changePageSize (pagesize) {
      this.pagesize = pagesize
    },
    // 搜索
    changeSearchVal (val) {
      this.searchVal = val
      this.page = 1
    },
    // 排序
    changeSortType () {
      if (this.sortType === 2) {
        this.sortType = 0
      } else {
        this.sortType++
      }
    }
  },
  computed: {
    // 模糊搜索后的结果
    copyList () {
      let arr = this.list.filter(v => v.title.includes(this.searchVal))
      if (this.searchVal) {
        arr = arr.map(item => {
          return {
            ...item,
            title: item.title.replace(this.searchVal, `<b style="color: red">${this.searchVal}</b>`)
          }
        })
      }
      if (this.sortType === 0) {
        return arr
      }
      arr.sort((a, b) => {
        if (this.sortType === 1) {
          return a.price - b.price
        }
        return b.price - a.price
      })
      return arr
    },
    // 筛选当前页数据
    curList () {
      // page 1 pagesize 10  list.slice(0, 10)
      // page 2 pagesize 10  list.slice(10, 20)
      // page 3 pagesize 10  list.slice(20, 30)
      return this.copyList.slice((this.page - 1) * this.pagesize, this.page * this.pagesize)
    },
    // 总页数
    totalPage () {
      return Math.ceil(this.copyList.length / this.pagesize)
    }
  },
  async created () {
    const res = await axios.get('/api/list')
    this.list = res.data.map((item, index) => ({ ...item, num: index + 1 }))
  },
  components: {
    List,
    Header,
    Footer
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  vertical-align: middle;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
