<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="6">
        1111
      </el-col>
      <el-col :span="6">
        2222
      </el-col>
      <el-col :span="6">
        3333
      </el-col>
      <el-col :span="6">
        4444
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="content">
          <el-tabs v-model="tabName">
            <el-tab-pane label="用户管理" name="one"></el-tab-pane>
            <el-tab-pane label="配置管理" name="two"></el-tab-pane>
          </el-tabs>
          <div class="charts" ref="charts"></div>
        </div>
      </el-col>
      <el-col :span="6"><div class="content"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8" v-for="item in progressList" :key="item.title">
        <div class="content circle">
          <el-progress type="circle" :percentage="item.progress" :color="colors"></el-progress>
          {{ item.title }}
        </div>
      </el-col>
    </el-row>
     <el-row :gutter="20">
      <el-col :span="14"><div class="content"></div></el-col>
      <el-col :span="10"><div class="content"></div></el-col>
    </el-row>
  </div>
</template>

<script>
import * as echarts from 'echarts'

export default {
  data () {
    return {
      tabName: 'one',
      progressList: [
        {
          progress: 10,
          title: '设备A'
        },
        {
          progress: 50,
          title: '设备B'
        },
        {
          progress: 100,
          title: '设备C'
        }
      ],
      colors: [
        { color: '#f56c6c', percentage: 20 },
        { color: '#e6a23c', percentage: 40 },
        { color: '#5cb87a', percentage: 60 },
        { color: '#1989fa', percentage: 80 },
        { color: '#6f7ad3', percentage: 100 }
      ]
    }
  },
  watch: {
    tabName: {
      handler () {
        if (this.myChart) {
          this.setOption()
        }
      }
    }
  },
  methods: {
    setOption () {
      if (this.tabName === 'one') {
        this.myChart.setOption({
          xAxis: {
            type: 'category',
            data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              data: [120, 200, 150, 80, 70, 110, 130],
              type: 'bar'
            }
          ]
        }, true)
      } else {
        this.myChart.setOption({
          tooltip: {
            trigger: 'axis'
          },
          legend: {
            data: ['袜子', '运动鞋', '牛仔裤', '背带裤', '外套']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: {
            type: 'category',
            boundaryGap: false,
            data: ['星期一', '星期二', '星期三', '星期四', '星期五', '星期六', '星期日']
          },
          yAxis: {
            type: 'value'
          },
          series: [
            {
              name: '袜子',
              type: 'line',
              data: [120, 132, 101, 134, 90, 230, 210]
            },
            {
              name: '运动鞋',
              type: 'line',
              data: [220, 182, 191, 234, 290, 330, 310]
            },
            {
              name: '牛仔裤',
              type: 'line',
              data: [150, 232, 201, 154, 190, 330, 410]
            },
            {
              name: '背带裤',
              type: 'line',
              data: [320, 332, 301, 334, 390, 330, 320]
            },
            {
              name: '外套',
              type: 'line',
              data: [820, 932, 901, 934, 1290, 1330, 1320]
            }
          ]
        }, true)
      }
    }
  },
  mounted () {
    // 基于准备好的dom，初始化echarts实例
    this.myChart = echarts.init(this.$refs.charts)
    this.setOption()
  }
}
</script>

<style lang="scss" scoped>
.content {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
}
.el-row {
  margin-bottom: 20px;
}
.charts {
  height: 400px;
}
.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
</style>
