<template>
  <div class="app">
    <h1>组件</h1>
    <!-- <Button
      :count1="num1"
      :count2="num2"
      @update:count1="num1 = $event"
      @update:count2="num2 = $event"
    /> -->
    <!-- 简写 -->
    <Button :count1.sync="num1" :count2.sync="num2" />
    <MyInput label="姓名" :val.sync="name" @click.native="clickFn" /> {{ name }}
  </div>
</template>

<script>
import Button from './components/Button.vue'
import MyInput from './components/MyInput.vue'

export default {
  data () {
    return {
      num1: 100,
      num2: 200,
      name: '小明'
    }
  },
  methods: {
    clickFn () {
      console.log('11111')
    }
  },
  components: {
    Button,
    MyInput
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
