<template>
  <div class="box">
    <h1>当前鼠标位置: {{ pos }}</h1>
    <ul>
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
    <button @click="add">{{ num }}</button>
  </div>
</template>

<script>
import posMixin from '../mixins/pos'

export default {
  // 使用混入, 如果混入的变量和当前组件重名，使用组件中的变量
  mixins: [posMixin],
  data () {
    return {
      arr: [1, 2, 3, 4, 5, 6, 7],
      num: 0
    }
  },
  mounted () {
    console.log(this)
  }
}
</script>

<style lang="scss" scoped>
.box {
  background: orange;
}
</style>
