<template>
  <div class="box">
    <h3>第二个组件</h3>
    <p>姓名：<input type="text" v-model="form.name"></p>
    <p>年龄：<input type="text" v-model="form.age"></p>
    <p>性别：<input type="text" v-model="form.sex"></p>
    <p>{{ form }}</p>
    {{ pos }}
  </div>
</template>

<script>
import posMixin from '../mixins/pos'

export default {
  mixins: [posMixin],
  data () {
    return {
      form: {
        name: '',
        age: 22,
        sex: '男'
      }
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
