<template>
  <div class="box">
    <h3>第三个组件</h3>
    <!-- <div class="box1" :style="{ top: pos.y + 'px', left: pos.x + 'px' }"></div> -->
  </div>
</template>

<script>
import posMixin from '../mixins/pos'

export default {
  mixins: [posMixin]
}
</script>

<style lang="scss" scoped>
.box1 {
  width: 100px;
  height: 100px;
  background: red;
  position: fixed;
}
</style>
