<template>
  <el-container>
    <el-header>
      <div class="logo">Logo</div>
      <el-menu
        mode="horizontal"
        background-color="#4481f6"
        text-color="#fff"
        active-text-color="#fff"
        :default-active="$route.path"
        router
      >
        <el-menu-item index="/dashboard">监控页面</el-menu-item>
        <el-menu-item index="/list">列表管理</el-menu-item>
      </el-menu>
      <div class="avatar">
        <el-avatar shape="square" size="large" src="https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png"></el-avatar>
        <el-dropdown>
          <span class="el-dropdown-link">
            王小明<i class="el-icon-arrow-down el-icon--right"></i>
          </span>
          <el-dropdown-menu slot="dropdown">
            <el-dropdown-item>退出登录</el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
  </el-container>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.el-container {
  height: 100%;
}
.el-header {
  display: flex;
  background: #4481f6;
}
.logo {
  color: #ffffff;
  font-size: 24px;
  line-height: 60px;
  margin-right: 20px;
}
.el-menu {
  flex: 1;
  padding-top: 10px;
  border-bottom: none;
  &>.el-menu-item {
    height: 40px;
    line-height: 40px;
    border-bottom: none !important;
  }
  &>.el-menu-item.is-active {
    border-bottom: none !important;
    background: #4068bf !important;
  }
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.el-avatar {
  margin-right: 10px;
}
.el-dropdown-link {
  color: #ffffff;
}
.el-main {
  background: #f2f2f2;
}
</style>
