<template>
  <div class="app">
    <h1>标题</h1>
    <button @click="show = !show">显示/隐藏</button>
    <hr />
    <MyButton
      v-if="show"
      :color="btnObj.color"
      :text="btnObj.text"
      :num="btnObj.num"
      @add="addNum"
    ></MyButton>
    <hr />
    <ul>
      <!-- key: 唯一值 -->
      <li v-for="item in arr" :key="item">{{ item }}</li>
    </ul>
    <Menu />
  </div>
</template>

<script>
import MyButton from './components/MyButton.vue'
import Menu from './components/Menu.vue'

export default {
  name: 'App',
  components: {
    // 注册组件
    MyButton,
    Menu
  },
  data () {
    return {
      // 变量只能在定义的组件修改
      btnObj: {
        color: 'green',
        text: '按钮1',
        num: 10
      },
      show: false,
      arr: [1, 2, 3, 4, 5, 6]
    }
  },
  methods: {
    addNum (n) {
      // n: 自组件传过来的参数
      this.btnObj.num += n
    }
  }
}
</script>

<style lang="scss">

</style>
