<script setup>
import { ref } from 'vue'
import SelectUser from '../components/SelectUser.vue'
import { menulist } from '../constant'

const userlist = ref([])
const visible = ref(false)

const onConfirm = (result) => {
  console.log('点击确定按钮', result)
  userlist.value = result
  visible.value = false
}
const onCancel = () => {
  console.log('点击取消啊扭')
  visible.value = false
}
</script>

<template>
  <h1>页面一</h1>
  <button @click="visible = true">选择成员</button>
  <ul>
    <li v-for="item in userlist" :key="item.name">{{ item.name }}</li>
  </ul>
  <Teleport to="body">
    <SelectUser
      v-model:visible="visible"
      :selected="userlist"
      :menulist="menulist"
      title="选择员工"
      okText="确定添加"
      @confirm="onConfirm"
      @cancel="onCancel"
    />
  </Teleport>
</template>

<style lang='scss' scoped>

</style>
