<script setup>
import { reactive, ref } from 'vue'
import axios from 'axios'
import { ElMessage } from 'element-plus'
import { useRouter } from 'vue-router'

const router = useRouter()
const ruleFormRef = ref() // 获取组件实例
const ruleForm = reactive({
  username: '',
  password: ''
})

const rules = reactive({
  username: [
    { required: true, message: '请输入用户名', trigger: 'blur' }
  ],
  password: [
    { required: true, message: '请输入密码', trigger: 'blur' }
  ]
})

const submit = () => {
  // 触发表单校验
  ruleFormRef.value.validate((flag, value) => {
    if (flag) {
      axios.post('/api/login', ruleForm).then(res => {
        if (res.data.code === 0) {
          const token = res.data.token
          localStorage.setItem('token', token)
          router.push('/')
          ElMessage.success('登录成功')
        } else {
          ElMessage.error(res.data.msg)
        }
      })
    }
  })
}

</script>

<template>
  <div class="page">
    <el-form ref="ruleFormRef" :model="ruleForm" :rules="rules" class="ruleForm" >
      <el-form-item prop="username">
        <el-input v-model="ruleForm.username" placeholder="请输入用户名" />
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="ruleForm.password" placeholder="请输入密码" show-password />
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submit">登录</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<style lang='scss' scoped>
.page {
  background-color: skyblue;
}
.ruleForm {
  width: 300px;
  height: 300px;
  position: fixed;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  padding-top: 100px;
}
.el-button {
  width: 100%;
}
</style>
