<template>
  <div class="box">
    <h3>child1 {{ num }}</h3>
    <button @click="$emit('btnClick', 2)">父组件按钮 + 2</button>
  </div>
</template>

<script>
export default {
  props: ['num']
}
</script>

<style>

</style>
