<template>
  <div class="box">
    <h3>{{ title }}</h3>
    <button @click="add">child2 的按钮点击次数：{{ num }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0,
      title: 'child2'
    }
  },
  methods: {
    add () {
      this.num++
    }
  },
  created () {
    console.log(this.$parent)
    this.$parent.num = 2000
  }
}
</script>

<style>

</style>
