<script setup>
import useTitleStore from '../stores/title'
import useCounterStore from '../stores/counter';

// 使用仓库
const store = useTitleStore()
const counterStore = useCounterStore()


const setTitle = () => {
  // 直接修改仓库数据
  store.title = Math.random() + ''

  // 调用仓库的方法修改数据
  // store.setTitle(Math.random() + '')
}

</script>


<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h2>{{ store.title }} - {{ store.titleLen }}</h2>
    <input type="text" v-model="store.title">
    <button @click="store.title = '默认标题'">重置</button>
    <button @click="setTitle">修改title</button>
    <hr />
    <button @click="counterStore.stop">暂停</button>
    {{ counterStore.count }}
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
}
</style>
