<script setup>
import { ref, reactive, computed, readonly, isRef, unref, toRef, toRefs, shallowRef, triggerRef, toRaw, markRaw } from 'vue'

const obj = reactive({
  name: '小明',
  age: 20
})
// 生成只读对象的代理
const readObj = readonly(obj)

const num = ref(100)
const add = () => {
  num.value++
}

// 判断变量是不是ref对象
console.log(isRef(123))
// 如果参数是ref对象返回value属性，不是的话直接返回该参数
console.log(unref(num))

// const getRefValue = (params) => {
//   if (isRef(params)) {
//     return params.value
//   }
//   return params
// }

// console.log(getRefValue('abc'))

// 双向 ref，会与源属性同步，把对象的age属性改成 ref 对象
const ageRef = toRef(obj, 'age')
const addAge = () => {
  // console.log(ageRef)
  // console.log(obj)
  ageRef.value++
  // obj.age++
}

const rawApple = {
  title: '红富士',
  price: 20,
  count: 10
}
const apple = reactive(rawApple)
// 根据响应式对象创建一个普通对象，并且把每一个属性都创建成 toRef 对象
const { title, price, count } =  toRefs(apple)

// 创建浅层ref对象，只有当value属性赋值时才会更新页面
const obj1 = shallowRef({ a: 1, b: 2, c: { d: { e: 3 } } })

const addObj1 = () => {
  obj1.value = 100
  // obj1.value.a++ // 不更新页面
  // triggerRef(obj1) // 修改浅层ref对象的数据，强制触发更新
  console.log(obj1)
}

console.log(toRaw(apple))
</script>

<template>
  <h1>首页</h1>
  <button @click="add">{{ num }}</button>
  <hr />
  <input type="text" v-model="obj.name"> 
  <p>obj: {{ obj }}</p>
  <p>readonly: {{ readObj }}</p>
  <hr />
  <p>age： {{ obj.age }}</p>
  {{ ageRef }}
  <button @click="addAge">age+</button>
  <hr />
  {{ apple }}
  <p>title: {{ title }}</p>
  <p>price: {{ price }}</p>
  <p>count: {{ count }}</p>
  <button @click="count++">+</button>
  <hr />
  {{ obj1 }}
  <button @click="addObj1">+</button>
</template>
