<template>
  <div class="app">
    <h1>标题</h1>
    <hr />
    <MyButton color="green" text="按钮1" :info="obj"></MyButton>
    <hr />
    <input type="color" v-model="color">{{color}}
    <MyButton :color="color" text="按钮2" :info="{ aa: 'aa' }"></MyButton>
  </div>
</template>

<script>
import MyButton from './components/MyButton.vue'

export default {
  name: 'App',
  components: {
    // 注册组件
    MyButton
  },
  data () {
    return {
      color: '#ff0000',
      obj: { name: 'aaa', age: 22 }
    }
  }
}
</script>

<style lang="scss">

</style>
