.keyboard {
  flex: 6;
  padding: 30px;
  ul {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    li {
      background: #999999;
      width: calc(100% / 3 - 8px);
      height: calc(100% / 3 - 8px);
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 4px 4px 4px 1px rgba($color: #000000, $alpha: .7);
      user-select: none;
    }
    .isDown {
      box-shadow: none;
    }
    .active {
      background: orange;
    }
  }
}