<template>
  <div class="wrap">
    <button @click="add(1)">按钮点击：{{ num }}</button>
    <button @click="clickChild2">child2 + 1</button>
    <Child1 :num="num" @btnClick="add" />
    <Child2 ref="child2" />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'

export default {
  data () {
    return {
      num: 10
    }
  },
  mounted () {
    console.log(this.$children)
  },
  methods: {
    add (n = 1) {
      this.num += n
    },
    clickChild2 () {
      // 可以通过ref获取子组件的数据和方法
      console.log(this.$refs.child2)
      this.$refs.child2.add()
      this.$refs.child2.title = Math.random()
    }
  },
  components: {
    Child1,
    Child2
  }
}
</script>

<style lang="scss">
.box {
  padding: 20px;
  border: 3px solid;
}
</style>
