<template>
  <div class="app">
    <nav>
      <span
        v-for="(item, index) in navlist"
        :key="item.comName"
        :class="{ active: curIndex === index }"
        @click="curIndex = index"
      >{{ item.title }}</span>
    </nav>
    <!-- keep-alive: 缓存组件状态，此组件内的组件隐藏时不在执行销毁生命周期 -->
    <keep-alive :exclude="['Home']">
      <!-- <Home v-if="curIndex === 0" />
      <Hot v-else-if="curIndex === 1" />
      <Search v-else /> -->
      <!-- 动态组件 component: 可以根据 is 属性中的组件名动态切换组件  -->
      <component :is="navlist[curIndex].comName"></component>
    </keep-alive>
  </div>
</template>

<script>
import Home from './components/Home.vue'
// import Hot from './components/Hot.vue'
// import Search from './components/Search.vue'

export default {
  data () {
    return {
      curIndex: 0,
      navlist: [
        {
          title: '推荐音乐',
          comName: 'Home'
        },
        {
          title: '热歌榜',
          comName: 'Hot'
        },
        {
          title: '搜索',
          comName: 'Search'
        }
      ]
    }
  },
  methods: {
  },
  components: {
    Home,
    // Hot,
    // Search
    // 异步组件: 打包时把异步组件打包成单独的js文件，使用组件时在加载对应的js文件
    Hot: () => import(/* webpackChunkName: 'hot' */ './components/Hot.vue'),
    Search: () => import(/* webpackChunkName: 'search' */ './components/Search.vue')
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
nav {
  height: 40px;
  color: #333333;
  display: flex;
  border-bottom: 1px solid #eeeeee;
  span {
    flex: 1;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  }
  .active {
    color: #dd001b;
  }
}
</style>
