<script setup>
defineProps(['modelValue', 'age'])
const emits = defineEmits(['update:modelValue', 'update:age'])

const change = e => {
  // 调用父组件的事件
  emits('update:modelValue', e.target.value)
}
const changeAge = e => {
  emits('update:age', e.target.value)
}
</script>

<script>
// 禁用透传属性
// export default {
//   inheritAttrs: false
// }
</script>

<template>
  <div class="box">
    <h3>组件上的v-model</h3>
    {{ modelValue }}
    <input type="text" :value="modelValue" @input="change">
    <br />
    {{ age }}
    <input type="text" :value="age" @input="changeAge">
    <hr />
    获取透传过来的属性：{{ $attrs }}
  </div>
  
  <div>aaaaa</div>
</template>

<style lang='scss' scoped>
.box {
  border: 3px solid tomato;
}
</style>
