<script setup>
  import { getToplist } from '../../services/index.js'
  import { ref } from 'vue'
  
  const toplist = ref([])
  const otherlist = ref([])
  
  getToplist().then(res => {

    toplist.value = res.data.list.slice(0, 4)
    otherlist.value = res.data.list.slice(4)
  })
  
  const goDetail = id => {
    console.log(id)
    uni.navigateTo({
      url: `/pages/listDetail/listDetail?id=${id}`
    })
  }
  
</script>

<template>
  <view class="pages">
    <div class="toplist">
      <view v-for="item in toplist" :key="item.id" class="list-item" @click="goDetail(item.id)">
        <view class="item-title">
          <view class="name">{{item.name}}</view>
          <view>{{item.updateFrequency}}</view>
        </view>
        <view class="content">
          <image :src="item.coverImgUrl" mode=""></image>
          <view class="tracks">
            <view v-for="(val, index) in item.tracks" :key="index" class="">
              {{index + 1}}. {{val.first}} - {{val.second}}
            </view>
          </view>
        </view>
      </view>
    </div>
    <view class="other">
      <image
        v-for="item in otherlist"
        :key="item.id"
        class="other-item"
        :src="item.coverImgUrl"
        mode="widthFix"
        @click="goDetail(item.id)"
      >
      </image>
    </view>
  </view>
</template>



<style lang="scss">
.pages {
  background: #f8f8f8;
  padding: 30rpx 0;
}
.list-item {
  background: #ffffff;
  border-radius: 10rpx;
  padding: 20rpx;
  margin: 30rpx;
}
.item-title {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #999999;
  padding-bottom: 20rpx;
  .name {
    font-size: 18px;
    font-weight: bold;
    color: #333333;
  }
}
.content {
  display: flex;
  image {
    width: 160rpx;
    height: 160rpx;
    border-radius: 10rpx;
  }
  .tracks {
    flex: 1;
    padding-left: 20rpx;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.other {
  display: flex;
  flex-wrap: wrap;
  image {
    width: calc((100% - 120rpx) / 3);
    margin-left: 30rpx;
    margin-bottom: 30rpx;
    border-radius: 10rpx;
  }
}
</style>
