<script setup>
// 组合式api
import { ref, nextTick } from 'vue'
const num = ref(100) // 创建响应式变量
const title = ref('默认值')
const arr = ref([1,2,3,4,5])
const xm = ref({ name: '小明', age: 20 })

const add = (n) => {
  // 在 js 中修改和使用 ref 变量必须通过 value 属性
  console.log(num.value)
  num.value += n
}

const reset = () => {
  title.value = '默认值'
}

const addArr = () => {
  arr.value.push(Math.random())
}
const clearArr = () => {
  arr.value = []
}
const subtraction = () => {
  xm.value.age--
}
</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <!-- <button @click="title = '默认值'">重置</button> -->
  <button @click="reset">重置</button>
  <hr />
  <button @click="num--">-</button>
  <span>{{ num }}</span>
  <button @click="add(1)">+</button>
  <hr />
  <button @click="addArr">add</button>
  <button @click="arr = []">清空</button>
  <button @click="clearArr">清空1</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
  <hr />
  {{ xm }}
  <button @click="subtraction">age-</button>
  <button @click="xm.age++">age+</button>
</template>

<style>

</style>
