<template>
  <div class="mark" @click.self="$emit('close')">
    <div class="content">
      <div v-if="showClose" class="close" @click="$emit('close')">x</div>
      <button @click="num++">{{ num }}</button>
      <slot name="header" :num="num" a="AAA"></slot>
      <h2 class="title">{{ title }}</h2>
      <div class="desc">
        <!-- 插槽 -->
        <slot :num="num">
          <b>bbbbbbb</b>
        </slot>
      </div>
      <div class="btns">
        <button @click="$emit('cancel')">{{ cancelText }}</button>
        <button @click="$emit('ok')">{{ okText }}</button>
        <hr />
        <slot name="footer"></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // props: ['title', 'desc', 'cancelText', 'okText']
  // 对象形式可以校验 props 参数类型，可以添加默认值
  props: {
    showClose: Boolean,
    title: {
      type: String,
      required: true // 必传参数
    },
    desc: String,
    cancelText: {
      type: String,
      default: '取消'
    },
    okText: {
      type: String,
      default: '确定'
    }
    // 自定义验证函数
    // propF: {
    //   validator: function (value) {
    //     // 这个值必须匹配下列字符串中的一个
    //     return ['success', 'warning', 'danger'].includes(value)
    //   }
    // }
  },
  data () {
    return {
      num: 10
    }
  }
}
</script>

<style lang="scss">
.mark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: #ffffff;
  width: 400px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 10px 20px;
}
.desc {
  flex: 1;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  padding: 20px;
}
.btns {
  padding: 10px 20px;
  display: flex;
  justify-content: flex-end;
  button {
    margin-left: 20px;
    padding: 5px 10px;
  }
}
.close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
</style>
