<template>
  <div class="app">
    <button @click="show = true">按钮</button>
    <transition
      name="aaa"
      enter-active-class="bbb"
      @before-enter="beforeEnter"
      @enter="enter"
      @after-enter="afterEnter"
      @enter-cancelled="enterCancelled"
    >
      <div class="menu" v-if="show" @click.self="show = false">
        <ul>
          <li v-for="n in 6" :key="n">菜单{{ n }}</li>
        </ul>
      </div>
    </transition>
    <button @click="showH1 = !showH1">隐藏h1</button>
    <transition
      enter-active-class="animate__animated animate__rollIn"
      leave-active-class="animate__animated animate__hinge"
    >
      <h1 v-if="showH1">标题</h1>
    </transition>

    <div class="box">
      box
    </div>
  </div>
</template>

<script>

export default {
  data () {
    return {
      show: false,
      showH1: true
    }
  },
  methods: {
    beforeEnter () {
      console.log('beforeEnter')
    },
    enter () {
      console.log('enter')
    },
    afterEnter () {
      console.log('afterEnter')
    },
    enterCancelled () {
      console.log('enterCancelled')
    }
  },
  components: {
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
h1 {
  width: 200px;
  margin: 0 auto;
  background: red;
  height: 40px;
  text-align: center;
  color: #ffffff;
  line-height: 40px;
}
.aaa-enter {
  transform: scale(0)
}
.bbb, .aaa-leave-active {
  transition: transform 3s linear;
}
.aaa-enter-to, .aaa-leave {
  transform: scale(1)
}
.aaa-leave-to {
  transform: scale(0)
}
.menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
  ul {
    width: 50%;
    background: #ffffff;
    height: 100%;
    li {
      line-height: 40px;
      border-bottom: 1px dashed #cccccc;
      padding-left: 20px;
    }
  }
}
.box {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    background: #f1c40f;
    perspective: 600px;
    transform: perspective(600px) rotateY(35deg);
    transition: 2s;
}

body:hover .box {
    transform: perspective(600px) rotateY(35deg) translate3d(50%, 50%, 200px);
}
</style>
