<script setup>
import { ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 
import Box from './components/Box.vue'

const obj = reactive({
  name: '丁真',
  address: '理塘',
  age: 22
})
</script>

<template>
  <!-- v-bind="obj" 简写，把obj中的所有属性都传给组件 -->
  <Box v-bind="obj">
    <!-- 具名插槽 -->
    <template v-slot:aa="params">
      <!-- 作用域插槽：插槽中使用子组件内的变量 -->
      <h3>头部 {{ params }}</h3>
    </template>
    <!-- 默认插槽 -->
    <ul>
      <li v-for="item in 5" :key="item">{{ item }}</li>
    </ul>
    <!-- v-slot：简写 # -->
    <template #bb>
      <h3>地步</h3>
    </template>
  </Box>
</template>

<style lang="scss">

</style>
