<template>
  <div class="page">
    <van-cell icon="location-o" :border="false">
      <template #title>
        <div class="title" @click="$router.push('/address')">
          <p>{{ curAddress.id ? curAddress.address : '请选择地址' }}</p>
          <van-icon name="arrow" />
        </div>
      </template>
      <!-- 使用 right-icon 插槽来自定义右侧图标 -->
      <template #right-icon>
        <van-icon name="search" class="search-icon" />
      </template>
    </van-cell>
    <van-tabs sticky>
      <van-tab title="多点超市">
        <van-grid :column-num="3">
          <van-grid-item v-for="item in wareList" :key="item.wareId">
            <van-image :src="item.wareImg" />
            <h4>{{ item.wareName }}</h4>
            <p>¥{{ item.warePrice / 100 }}</p>
            <van-button size="mini" color="#fe6e23" icon="plus" type="primary" @click="addCart(item)" />
          </van-grid-item>
        </van-grid>
      </van-tab>
      <van-tab title="全球精选">页面22222</van-tab>
      <van-tab title="海涛购">页面333333</van-tab>
      <van-tab title="半日达">页面1444444</van-tab>
      <van-tab title="半日达1">页面555555</van-tab>
      <van-tab title="半日达2">666666</van-tab>
      <van-tab title="半日达3">777777</van-tab>
      <van-tab title="半日达4">8888888</van-tab>
    </van-tabs>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
import axios from 'axios'

export default {
  computed: {
    ...mapState(['curAddress', 'wareList'])
  },
  methods: {
    ...mapMutations(['setWareList', 'changeCartList']),
    getWareList () {
      axios({
        url: 'https://searchgw.dmall.com/mp/search/wareSearch',
        method: 'post',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
        },
        data: {
          param: "{ venderId: 1, storeId: 12527, businessCode: 1, from: 1, categoryType: 1, pageNum: 1, pageSize: 20, categoryId: '11340', categoryLevel: 1 }",
          token: '',
          source: 2,
          tempid: 'CA05CFD7062000024F179AE11C3060C0',
          pubParam: '{}',
          d_track_data: "{ session_id: 'CA5983E68C50000222F5C1701270A880', uuid: 'CA05CFD7062000024F179AE11C3060C0', project: '微信商城', env: 'mweb', tdc: '', tpc: '' }"
        }
      }).then(res => {
        // this.list = res.data.data.wareList
        this.setWareList(res.data.data.wareList)
      })
    },
    addCart (goods) {
      this.changeCartList({
        goods,
        type: 1
      })
      this.$toast('添加购物车成功')
    }
  },
  created () {
    this.getWareList()
  }
}
</script>

<style lang="scss" scoped>
.page {
  height: 100%;
  overflow: auto;
  background: #f6f6f6;
  ::v-deep .van-grid-item__content {
    padding: 0;
    align-items: flex-start;
  }
}
.search-icon {
  font-size: 16px;
  line-height: inherit;
}
.title {
  width: calc(100vw - 140px);
  display: flex;
  align-items: center;
  p {
    min-width: 60px;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
</style>
