<script setup>

</script>

<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="center"></div>
  </div>
</template>

<style lang='scss' scoped>
.dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 300px;
    background: #ffffff;
    border-radius: 10px;
  }
}
</style>
