<template>
  <el-dialog :title="editInfo ? '编辑用户' : '新增用户'" width="600px" :visible="visible" @close="$emit('update:visible', false)">
    <el-form :model="form" :rules="rules" ref="form" label-width="80px">
      <el-form-item label="姓名" prop="name">
        <el-input v-model="form.name" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model="form.age" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select v-model="form.sex" placeholder="请选择性别">
          <el-option label="男" :value="1"></el-option>
          <el-option label="女" :value="0"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="婚姻状况" prop="married">
        <el-select v-model="form.married" placeholder="请选择婚姻状况">
          <el-option label="已婚" :value="1"></el-option>
          <el-option label="未婚" :value="0"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="form.email" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="地址" prop="address">
        <el-input v-model="form.address" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="$emit('update:visible', false)">取 消</el-button>
      <el-button type="primary" @click="submit">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>

export default {
  props: ['visible', 'editInfo'],
  data () {
    return {
      form: {
        name: '',
        sex: '',
        age: '',
        married: '',
        email: '',
        address: ''
      },
      rules: {
        name: [
          { required: true, message: '请输入姓名', trigger: 'blur' },
          { min: 2, max: 5, message: '长度在 3 到 5 个字符', trigger: 'blur' }
        ],
        sex: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        age: [
          { required: true, message: '请输入年龄', trigger: 'blur' },
          {
            validator: (rule, value, callback) => {
              const reg = /^\d+$/
              if (!reg.test(value)) {
                callback(new Error('年龄必须是数字'))
              } else {
                callback()
              }
            }
          }
        ],
        married: [
          { required: true, message: '请选择婚姻状况', trigger: 'change' }
        ],
        email: [
          { type: 'email', required: true, message: '请输入正确的邮箱', trigger: 'blur' }
        ],
        address: [
          { required: true, message: '请输入详细地址', trigger: 'blur' }
        ]
      }
    }
  },
  watch: {
    visible () {
      if (this.visible) {
        if (this.editInfo) {
          this.form = { ...this.editInfo }
        }
      } else {
        this.$refs.form.resetFields()
      }
    }
  },
  methods: {
    submit () {
      // 校验表单
      this.$refs.form.validate(async (flag, errObj) => {
        if (flag) {
          this.$emit('ok', this.form)
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
