<template>
  <header>
    <el-form :inline="true" :model="form" label-width="80px" ref="form">
      <el-row>
        <el-col :span="8">
          <el-form-item label="姓名" prop="name">
            <el-input v-model="form.name" placeholder="输入姓名"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="性别" prop="sex">
            <el-select v-model="form.sex" placeholder="选择性别">
              <el-option label="男" :value="1"></el-option>
              <el-option label="女" :value="0"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="年龄" prop="age">
            <el-input v-model="form.age" placeholder="输入年龄"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="邮箱" prop="email">
            <el-input v-model="form.email" placeholder="输入邮箱"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="婚姻状况" prop="married">
            <el-select v-model="form.married">
              <el-option label="已婚" :value="1"></el-option>
              <el-option label="未婚" :value="0"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="8">
          <el-form-item label="地址" prop="address">
            <el-input v-model="form.address" placeholder="输入地址"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item>
        <el-button size="medium" type="primary" @click="onSubmit">查询</el-button>
        <el-button size="medium" type="primary" plain @click="reset">重置</el-button>
      </el-form-item>
    </el-form>
  </header>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        age: '',
        sex: '',
        married: '',
        email: '',
        address: ''
      }
    }
  },
  methods: {
    onSubmit () {
      console.log('查询', this.form)
      const params = {}
      Object.keys(this.form).forEach(key => {
        if (this.form[key] || this.form[key] === 0) {
          params[key] = this.form[key]
        }
      })
      this.$emit('search', params)
    },
    reset () {
      console.log('重置')
      this.$refs.form.resetFields()
      this.$emit('search', {})
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  background: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}
</style>
