* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html {
  background: #999999;
}
.app {
  width: 600px;
  height: 300px;
  border: 2px solid orange;
  background: #cccccc;
  margin: 200px auto;
  display: flex;
}