<template>
  <div id="app">
    <button @click="add">{{ num }}</button>
    <nav>
      <router-link to="/home">首页</router-link>
      <router-link to="/detail">详情</router-link>
      <router-link to="/city">城市</router-link>
      <router-link to="/login">登陆</router-link>
    </nav>
    <!-- 路由页面展示的位置 -->
    <router-view />
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  methods: {
    add () {
      this.num++
      if (this.num === 5) {
        console.log('跳转详情页面')
        console.log('路由实例对香港', this.$router)
        this.$router.push('/detail') // 跳转页面
        // this.$router.replace('/detail') // 替换当前页
      }
    }
  }
}
</script>

<style lang="scss">
nav {
  display: flex;
  border-bottom: 1px solid;
  a {
    flex: 1;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    color: #333333;
  }
  .router-link-active {
    background: tomato;
    color: #ffffff;
  }
}
</style>
