<template>
  <div class="app">
    <h1>标题</h1>
    <button @click="num++">+</button>
    {{num}}
    <hr />
    <MyButton></MyButton>
    <hr />
    <MyButton></MyButton>
    <hr />
    <MyButton />
    <hr />
    <MyButton />
    <hr />
    <MyButton />
  </div>
</template>

<script>
import MyButton from './components/MyButton.vue'

export default {
  name: 'App',
  components: {
    // 注册组件
    MyButton
  },
  data () {
    return {
      num: 0
    }
  },
  computed: {},
  watch: {},
  methods: {},
  mounted () {
    console.log('组件加载成功')
  }
}
</script>

<style lang="scss">

</style>
