* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dialog {
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .6);
  position: fixed;
  top: 0;
  left: 0;
  .content {
    width: 80%;
    min-height: 200px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    .center {
      height: 200px;
    }
    .header {
      height: 40px;
      border-bottom: 1px solid;
    }
    .footer {
      height: 40px;
      border-top: 1px solid;
    }
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
  }
  h3 {
    text-align: center;
  }
}