<template>
  <div>
    <h2>推荐音乐</h2>
    <button @click="num++">{{ num }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  created () {
    console.log('home创建')
  },
  beforeDestroy () {
    console.log('home销毁')
  }
}
</script>

<style lang="scss" scoped>

</style>
