.box {
  border: 3px solid red;
  padding: 20px;
  :global {
    .test {
      background: yellow;
    }
  }
}
.box1 {
  margin-top: 100px;
}
.title {
  color: green;
}

:global {
  // 在 css module 中修改全局样式
  .btn {
    height: 50px;
    width: 300px;
  }
}
