<script setup>
import { ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 
import ButtonCounter from './components/ButtonCounter.vue'

const obj = reactive({
  title: '苹果',
  count: 5
})

const changeCount = n => {
  obj.count += n
}

</script>

<template>
  <ButtonCounter :title="obj.title" :count="obj.count" @change="changeCount" />
</template>

<style lang="scss">

</style>
