<script setup>
import axios from 'axios'
import { ref, watch, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 

const list = ref([])
const keywords = ref('')


watch(keywords, async () => {
  const res = await axios.get('http://zyxcl.xyz/search', {
    params: {
      keywords: keywords.value
    }
  })
  list.value = res.data.result.songs
})

</script>

<template>
  
  <input type="text" placeholder="搜索" v-model="keywords">
  <ul>
    <li v-for="item in list" :key="item.id">
      {{ item.name }}
    </li>
  </ul>

</template>

<style>

</style>
