<script setup>
  import { onLoad } from '@dcloudio/uni-app'
  import { getPlaylistDetail, getCommentPlaylist } from '@/services/index.js'
  import { ref } from "vue";
  import moment from 'moment'
  import Comments from '@/components/comments.vue'
  import PlayerDialog from '@/components/playerDialog.vue'
  import usePlaylistStore from '@/stores/playlist.js'
  
  const playlistStore = usePlaylistStore()
  const playlist = ref({}) // 歌单信息
  const visible = ref(false) // 显示歌单品论
  const hotComments = ref([]) // 热门评论
  const comments = ref([]) // 最新评论
  const commentsTotal = ref(0) // 评论数量
  
  // 获取歌单详情
  const getPlaylistDetailApi = async id => {
    const res = await getPlaylistDetail(id)
    if (res.data.code === 200) {
      console.log('歌单详情', res.data)
      playlist.value = res.data.playlist
      uni.setNavigationBarTitle({
        title: res.data.playlist.name
      })
    } else {
      uni.showToast({
        title: res.data.message,
        icon: 'error'
      })
    }
  }
  // 获取歌单评论
  const getCommentPlaylistApi = async id => {
    const res = await getCommentPlaylist(id)
    hotComments.value = res.data.hotComments
    comments.value = res.data.comments
    commentsTotal.value = res.data.total
  }
  
  
  onLoad((options) => {
    // options: ？后的参数
    getPlaylistDetailApi(options.id)
    getCommentPlaylistApi(options.id)
  })
  
  const ar = (list) => {
    return list.map(v => v.name).join('/')
  }
  
  const format = (time) => {
    return moment(time).format('YYYY-MM-DD')
  }
  
  // 跳转播放页面
  const goPlayer = id => {
    playlistStore.addSong(id) // 把当前歌曲 id 存到 store
    uni.navigateTo({
      url: `/pages/player/player?id=${id}`
    })
  }
  // 播放当前歌单所有歌曲
  const playAll = () => {
    console.log(playlist.value.tracks)
    playlistStore.setPlaylist(playlist.value.tracks)
  }
</script>

<template>
  <view>
    <view class="info">
      <div class="bg" :style="{ backgroundImage: `url(${playlist.coverImgUrl})` }">
        <view class="after"></view>
      </div>
      <image :src="playlist.coverImgUrl" mode="widthFix"></image>
      <div class="info-detail">
        <view class="name">{{playlist.name}}</view>
        <view class="creator">
          <image :src="playlist.creator?.avatarUrl" mode="widthFix"></image>
          <text>{{playlist.creator?.nickname}}</text>
        </view>
        <view class="updateTime">更新时间：{{format(playlist.updateTime)}}</view>
        <text class="comments-total" @click="visible = true">评论 {{commentsTotal}}</text>
      </div>
    </view>
    <view class="tracks">
      <view class="playAll" @click="playAll">播放全部</view>
      <view v-for="(item, index) in playlist.tracks" :key="item.id" class="song" @click="goPlayer(item.id)">
        <view class="no">{{index + 1}}</view>
        <view class="song-info">
          <view class="name">{{item.name}}</view>
          <view class="ar">
            {{ar(item.ar)}}
          </view>
        </view>
      </view>
    </view>
  </view>
  <Comments v-model:visible="visible" :hotComments="hotComments" :comments="comments" />
  <PlayerDialog />
</template>

<style lang="scss">
.info {
  width: 100%;
  height: 372rpx;
  display: flex;
  padding: 60rpx 20rpx 60rpx 30rpx;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  image {
    width: 252rpx;
    height: 252rpx;
    border-radius: 10rpx;
  }
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  transform: scale(1.5);
  .after {
    height: 100%;
    background: rgba(0,0,0,.25);
  }
}
.info-detail {
  flex: 1;
  overflow: hidden;
  padding-left: 30rpx;
  color: #ffffff;
  .name {
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .updateTime {
    font-size: 12px;
  }
  .comments-total {
    font-size: 14px;
  }
}
.creator {
  display: flex;
  align-items: center;
  image {
    width: 60rpx;
    height: 60rpx;
    border-radius: 50%;
    margin: 20rpx 20rpx 20rpx 0;
  }
}
.playAll {
  height: 80rpx;
  line-height: 80rpx;
  padding-left: 40rpx;
}
.song {
  padding: 20rpx;
  display: flex;
  border-bottom: 1rpx dashed #dddddd;
  .no {
    width: 50rpx;
  }
  .song-info {
    flex: 1;
    overflow: hidden;
    .name {
      font-size: 16px;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .ar {
      font-size: 12px;
      color: #999999;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
</style>
