<template>
  <div class="page">
    {{ editInfo }}
    <van-nav-bar fixed title="编辑地址" left-text="返回" left-arrow @click-left="$router.back()" />
    <van-address-edit
      :address-info="editInfo"
      :area-list="areaList"
      show-search-result
      :search-result="searchResult"
      :area-columns-placeholder="['请选择', '请选择', '请选择']"
      @save="onSave"
      @change-detail="onChangeDetail"
    />
  </div>
</template>

<script>
import { areaList } from '@vant/area-data'
import { mapMutations, mapState } from 'vuex'
import axios from 'axios'

export default {
  data () {
    return {
      areaList,
      searchResult: []
    }
  },
  computed: {
    ...mapState(['addressList']),
    editInfo () {
      return this.addressList.find(item => item.id === this.$route.query.id * 1)
    }
  },
  methods: {
    ...mapMutations(['createAddress', 'updateAddress']),
    onSave (content) {
      if (this.editInfo) {
        this.updateAddress(content)
        this.$router.back()
        this.$toast('修改成功')
      } else {
        this.createAddress(content)
        this.$router.back()
        this.$toast('添加成功')
      }
    },
    onChangeDetail (val) {
      if (val) {
        this.search(val)
      } else {
        this.searchResult = []
      }
    },
    async search (query) {
      const res = await axios.get('/mqq/place/v2/search', {
        params: {
          query,
          region: '北京',
          output: 'json',
          ak: 'nqdUuCXZg7BNjuKReZHTsWbc0L28hYrF'
        }
      })
      this.searchResult = res.data.results
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  min-height: 100%;
  background: #f9faf7;
  padding-top: 46px;
}
</style>
