<template>
  <div class="my-button">
    <button @click="num++">按钮点击次数: {{ num }}</button>
  </div>
</template>

<script>
export default {
  // data是一个函数防止组件复用时组件中的数据互相影响，让每个组件都有一份单独的数据
  data () {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss">
.my-button {
  padding: 10px;
  button {
    width: 100%;
    height: 50px;
    background: tomato;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
}
</style>
