<template>
  <div class="page" @scroll="scrollFn">
    <dl v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <dt><img :src="item.poster" alt=""></dt>
      <dd>
        <h3>{{ item.name }}</h3>
        <p>评分: {{ item.grade }}</p>
        <p>主演：<span v-for="(val, index) in item.actors" :key="index">{{ val.name }}</span></p>
        <p>{{ item.nation }} | {{ item.runtime }}分钟</p>
      </dd>
    </dl>
    <Loading v-if="showLoading" />
  </div>
</template>

<script>
import axios from 'axios'
import Loading from '@/components/Loading.vue'

export default {
  data () {
    return {
      list: [],
      showLoading: true,
      pageNum: 1,
      total: null,
      cityId: localStorage.getItem('cityId')
    }
  },
  methods: {
    goDetail (filmId) {
      // query 传参
      // this.$router.push(`/detail?filmId=${filmId}&title=123&test=abc`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     filmId,
      //     title: '测试title',
      //     test: 'abcdefg'
      //   }
      // })
      // 动态路由传参
      // this.$router.push(`/detail/${filmId}`)
      this.$router.push({
        name: 'detail',
        params: {
          id: filmId
        }
      })
    },
    async getList () {
      this.showLoading = true
      // 调用卖座接口
      const res = await axios.get('https://m.maizuo.com/gateway', {
        params: {
          cityId: 110100, // this.cityId,
          type: 1,
          k: 4668220,
          pageNum: this.pageNum,
          pageSize: 10
        },
        headers: {
          'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16659764383978050249162753","bc":"110100"}',
          'X-Host': 'mall.film-ticket.film.list'
        }
      })
      this.list = this.list.concat(res.data.data.films)
      this.total = res.data.data.total
      this.showLoading = false
    },
    scrollFn (e) {
      const { scrollTop, offsetHeight, scrollHeight } = e.target
      // console.log('页面滚动了', scrollTop, offsetHeight, scrollHeight)
      if (this.total !== null && this.list.length >= this.total) {
        return
      }
      if (scrollTop + offsetHeight >= scrollHeight) {
        console.log('页面到底部了')
        this.pageNum += 1
        this.getList()
      }
    },
    async getCity (location) {
      const res = await axios.get('/mqq/reverse_geocoding/v3/', {
        params: {
          ak: 'nqdUuCXZg7BNjuKReZHTsWbc0L28hYrF',
          output: 'json',
          coordtype: 'wgs84ll',
          location
        }
      })
      console.log(res.data.result.addressComponent)
      if (this.cityId !== res.data.result.addressComponent.adcode) {
        alert('是否切换城市')
      }
      localStorage.setItem('cityId', res.data.result.addressComponent.adcode)
    }
  },
  created () {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(position => {
        // 获取定位成功
        // console.log('获取定位成功', position.coords)
        this.getCity(`${position.coords.latitude},${position.coords.longitude}`)
      }, err => {
        // 获取定位失败
        alert(err.message)
      })
    } else {
      alert('您的浏览器不支持使用HTML5来获取地理位置服务')
    }
    this.getList()
  },
  components: {
    Loading
  }
}
</script>

<style lang="scss" scoped>
.page {
  overflow: auto;
  dl {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
  }
  dt {
    width: 80px;
  }
  dd {
    flex: 1;
    overflow: hidden;
    padding-left: 15px;
    span {
      margin-right: 3px;
    }
  }
}
</style>
