<template>
  <div class="app">
    <h1>组件</h1>
    <button @click="show = true">登陆</button>
    <Dialog
      v-if="show"
      title="登陆弹窗"
      :showClose="true"
      @close="show = false"
      @cancel="show = false"
      @ok="login"
    >
      <!-- 具名插槽 -->
      <template v-slot:header="obj">
        <!-- obj: 组件内通过slot传过来的数据 -->
        <!-- 作用域插槽：在插槽内使用组件中的变量 -->
        <h2>测试插槽标题 {{ obj.num }}</h2>
      </template>
      <template v-slot:default="obj">
        {{ obj.num }}
        <input type="text">
        <ul>
          <li>1</li>
          <li>1</li>
          <li>1</li>
          <li>1</li>
        </ul>
      </template>
      <template v-slot:footer>
        <button>测试插槽按钮</button>
      </template>
    </Dialog>
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'

export default {
  data () {
    return {
      show: false
    }
  },
  methods: {
    login () {
      alert('登陆成功')
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
