<script setup>
</script>

<template>
  <RouterView />
</template>

<style>
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #app, .page {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
</style>
