<script setup>
// 接收父组件传的参数
const props = defineProps(['title', 'count'])
// 接收父组件传的自定义事件
const emits = defineEmits(['change'])


const add = () => {
  // console.log(props.title)
  // console.log(props.count)
  // 调用自定义事件
  emits('change', 1)
}

</script>

<template>
  <h4>{{ title }}</h4>
  <button @click="$emit('change', -1)">-</button>
  {{ count }}
  <button @click="add">+</button>
</template>

<style lang='scss' scoped>

</style>
