<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>

  <div class="app">
    <button @click="add">+</button>
    <p>{{ num }}</p>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        num: 0
      },
      methods: {
        add() {
          this.num++
          // vue中数据更新是同步的，dom更新是异步的，不能在数据更新后立即获取到最新的dom元素
          this.$nextTick(() => {
            // 页面更新后的回调函数，本次页面更新后立即执行
            console.log(document.querySelector('p').innerHTML)
          })
        }
      }
    })








  
  </script>
</body>
</html>