<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>

  <div class="app">
    <button @click="addAge">修改数组第一项</button>
    {{ obj }}
    <p>{{ arr }}</p>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        obj: { name: '小明' },
        arr: [1, 2, 3, 4, 5]
      },
      methods: {
        addAge() {
          // 错误写法，直接给对象添加新属性页面不会更新
          // this.obj.age = 100

          // 正确写法，给对象或者数组添加响应式属性
          // Vue.set(this.obj, 'age', 200)
          this.$set(this.obj, 'age', 22)
          this.$set(this.arr, 1, '1111')
        }
      }
    })








  
  </script>
</body>
</html>