<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html, body, .app {
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom right, #985d84, #401e52);
    }
    .header {
      display: flex;
      justify-content: center;
      padding: 50px 0;
    }
    .header p {
      margin: 0 20px;
      color: #ffffff;
    }
  .content {
    margin:  0 auto;
    width: 700px;
    height: 500px;
  }
  nav {
    display: flex;
    padding-left: 50px;
  }
  .nav-item {
    width: 120px;
    height: 52px;
    border-top: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    /* 定义css变量 */
    --defaultcolor: yellow;
    background: var(--defaultcolor);
    border-radius: 3px 3px 0px 0px;
  }
  .nav-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    width: 20px;
    height: 100%;
    display: block;
    transform: skew(-20deg);
    border-radius: 3px 0px 0px 0px;
    border-left: 2px solid #000;
    /* 使用css变量 */
    background: var(--defaultcolor);
  }
  .nav-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: -10px;
    width: 20px;
    height: 100%;
    display: block;
    transform: skew(20deg);
    border-right: 2px solid #000;
    border-radius: 0px 3px 0px 0px;
    background: var(--defaultcolor);
  }
  .nav-item p {
    width: 80px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }
  .active {
    z-index: 10;
  }
  .active p {
    background: #ffffff;
    color: #000;
    border: 1px solid #000;
  }
  main {
    border: 2px solid #000;
    height: 200px;
    padding: 20px;
    position: relative;
    top: -2px;
  }
  main ul {
    border: 2px solid #000;
    height: 100%;
    background: #ffffff;
    padding: 10px;
  }
  li {
    list-style-type: none;
  }
  </style>
</head>
<body>
  <div class="app">
    <div class="header">
      <p>
        <input type="radio" name="colorType" :value="1" v-model="colorType"> 多色
      </p>
      <p>
        <input type="radio" name="colorType" :value="0" v-model="colorType"> 单色
      </p>
    </div>
    <div class="content">
      <nav>
        <div
          v-for="(item, index) in tablist"
          :class="['nav-item', { active: curIndex === index }]"
          :style="{ '--defaultcolor': colorType === 1 ? item.color : '#ffb700' }"
          @click="curIndex = index"
        >
          <p>{{ item.title }}</p>
        </div>
      </nav>
      <main :style="{ background: colorType === 1 ? tablist[curIndex].color : '#ffb700' }">
        <ul>
          <li v-for="item in tablist[curIndex].songs">{{ item }}</li>
        </ul>
      </main>
    </div>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        colorType: 1,
        curIndex: 0, // 当前点击的下标
        tablist: [
          {
            title: '周杰伦',
            color: '#A25596',
            songs: ['告白气球', '霍元甲', '晴天', '红尘客栈']
          },
          {
            title: '许嵩',
            color: '#C6719E',
            songs: ['断桥残雪', '雅俗共赏', '多余的解释', '素颜']
          },
          {
            title: '凤凰传奇',
            color: '#DBAAAA',
            songs: ['自由飞翔', '等爱的玫瑰', '最炫民族风', '月亮之上']
          },
          {
            title: '毛不易',
            color: '#7DB2BA',
            songs: ['消愁', '牧马城市', '像我这样的人', '如果有一天我变的很有钱']
          }
        ]
      },
      methods: {
      }
    })
  






  </script>
</body>
</html>