<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
  </style>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- <input type="text" :value="title" @input="changeTitle"> -->
    <input type="text" v-model="title">
    <button @click="submit">提交</button>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        title: '标题'
      },
      methods: {
        // changeTitle(e) {
        //   this.title = e.target.value
        // },
        submit() {
          console.log(this.title)
        }
      }
    })
    console.log(vm)








  </script>
</body>
</html>