<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
  [v-cloak] {
    display: none;
  }
</style>
<body>
  <h1 abc="123">测试</h1>


  <div class="app">
    <!-- 等待实例加载完成，删除此属性，可以配合对应的css样式在实例渲染完成之前隐藏页面 -->
    <div v-cloak>
      <input type="text" v-model="title">
      <!-- 只渲染一次 -->
      <h1 v-once>{{ title }}</h1>
      <!-- 不解析此元素内的变量 -->
      <div v-pre >{{ a }}</div>
    </div>
  </div>

  <script>

    // 添加断点
    debugger
    let vm = new Vue({
      el: '.app',
      data: {
        title: '标题'
      },
      methods: {

      }
    })
  
  </script>
</body>
</html>