<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <input type="text" v-model="obj.title">
    <h2>{{ obj.title }}</h2>
    <hr />
    <button @click="add">添加</button> {{ len }}
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
    <hr />
    <input type="color" v-model="color"> {{color}}
    <hr />
    <p>年龄: {{ obj.info.age }} <button @click="obj.info.age++">+</button></p>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        obj: {
          title: '标题',
          info: {
            age: 20,
            d: {
              s: {
                a: 0
              }
            }
          }
        },
        color: '#cccccc',
        arr: [0, 1, 2, 3, 4, 5, 6]
      },
      methods: {
        add() {
          this.arr.push(this.arr.length)
        },
        setBodyBackgground() {
          console.log('color改变了', this.color)
          document.body.style.background = this.color
        }
      },
      computed: {
        len() {
          return this.arr.length
        }
      },
      watch: { // 监听数据改变
        'obj.title'(newval, oldval) {
          console.log('title改变了', newval, oldval)
        },
        // obj() {
        //   console.log('this.obj改变了', this.obj)
        // },
        obj: {
          handler() {
            console.log('this.obj改变了', this.obj)
          },
          // 深度监听,可以监听到引用类型数据内部的改变
          deep: true
        },
        arr() {
          console.log('arr数组改变了', this.arr)
        },
        arr: {
          handler() {
            console.log('arr数组改变了', this.arr)
          }
        },
        color: {
          handler: 'setBodyBackgground',
          // 进入页面立即执行一次 handler 函数
          immediate: true
        },
        len: [
          function() {
            console.log('len 函数1')
          },
          function() {
            console.log('len 函数2')
          }
        ]
      }
    })



  
  </script>
</body>
</html>