<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>

  <div class="app">
    <button @click="changeArr">修改数组第一项</button>
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        arr: [1, 2, 3, 4],
      },
      methods: {
        changeArr() {
          // 错误写法，不可以直接通过下标改变数组内容或者通过length修改数据，页面不会更新
          // this.arr[0] = '000000'
          // this.arr.length = 0

          // 正确写法，通过数组的方法修改数据
          this.arr.splice(0, 1, '0000000')
          // console.log(this.arr)
        }
      }
    })


    // const obj = {
    //   name: '小明'
    // }
    // let nn = '小明'
    // Object.defineProperty(obj, 'name', {
    //   get() {
    //     console.log('有人读取了obj.name')
    //     return nn
    //   },
    //   set(newval) {
    //     console.log('有人修改了obj.name')
    //     nn = newval
    //     document.querySelector('h2').innerHTML = nn
    //   }
    // })







  
  </script>
</body>
</html>