<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
  </style>
</head>
<body>
  <div class="app">
    <!-- .trim 删除首尾空格修饰符 -->
    <!-- .lazy change事件执行时修改变量 -->
    <p>姓名: <input type="text" v-model.trim.lazy="form.name"></p>
    <p>性别: 
      <input type="radio" name="sex" id="men" value="男" v-model="form.sex"> <label for="men">男</label>
      <input type="radio" name="sex" id="women" value="女" v-model="form.sex"> <label for="women">女</label>
    </p>
    <!-- .number 把value转成数字类型 -->
    <p>年龄: <input type="number" v-model.number="form.age"></p>
    <p>地址: 
      <select v-model="form.address">
        <option value="">请选择</option>
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
        <option value="caoxian">曹县</option>
      </select>
    </p>
    <p>婚姻状况: <input type="checkbox" v-model="form.married">{{ form.married ? '已婚' : '未婚' }}</p>
    <p>爱好: 
      <input type="checkbox" value="唱" v-model="form.hobby"> 唱歌
      <input type="checkbox" value="跳" v-model="form.hobby"> 跳舞
      <input type="checkbox" value="tap" v-model="form.hobby"> rap
      <input type="checkbox" value="篮球" v-model="form.hobby"> 篮球
    </p>
    <button @click="submit">提交</button>
    {{ form }}
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        form: {
          name: '',
          age: '',
          address: '',
          sex: '',
          married: false,
          hobby: []
        }
      },
      methods: {
        submit() {
          console.log(this.form)
        }
      }
    })
    console.log(vm)



    let obj = {
      show: i === index
    }






  </script>
</body>
</html>