<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
    .box {
      width: 100px;
      height: 100px;
      background: #ccc;
    }
    .box1 {
      width: 200px;
      height: 200px;
      background: #ccc;
    }
    .red {
      background: red;
    }
    .yellow {
      background: yellow;
    }
    .borderGreen {
      border: 10px solid green;
    }
  </style>
</head>
<body>
  <div class="app">
    <button @click="num -= 10">-</button>
    {{ num }}
    <button @click="num += 10">+</button>
    <div :class="[num > 120 ? 'box1' :'box', { red: num > 100, yellow: num < 100, borderGreen: num > 110 }]"></div>
  </div>

  <script>


    let vm = new Vue({
      el: '.app',
      data: {
        num: 100
      },
      methods: {
      }
    })
    console.log(vm)








  </script>
</body>
</html>