<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
  <style>
    .box {
      background: red;
    }
  </style>
</head>
<body>
  <div class="app">
    <button @click="width -= 10">-</button>
    {{ width }}
    <button @click="width += 10">+</button>
    <div class="box" :style="[width >= 100 ? { width: width + 'px', height: width + 'px' } : styleObj]"></div>
  </div>

  <script>


    let vm = new Vue({
      el: '.app',
      data: {
        width: 100,
        styleObj: {
          width: '90px',
          height: '90px',
          border: '5px solid green'
        } 
      },
      methods: {
      }
    })
    console.log(vm)








  </script>
</body>
</html>