<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>

  <div class="app">
    <input type="text" v-model="title">
    <h2>{{ title }}</h2>
    <hr />
    <button @click="add">添加</button>
    <input type="checkbox" v-model="odd">{{ odd ? '奇数' : '偶数' }}
    <ul>
      <li v-for="item in newArr">{{ item }}</li>
    </ul>
    <p>原数组：{{ arr }}</p>
    <hr />
    <!-- <button>默认排序</button>
    {{ arr }} -->
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        title: '计算属性',
        odd: true,
        arr: [100, 0, 1, 2, 3, 4, 5, 6]
      },
      methods: {
        add() {
          this.arr.push(this.arr.length)
        },
        getNewArr1() {
          console.log('筛选数据')
          return this.arr.filter(v => {
            if (this.odd) return v % 2 !== 0
            return v % 2 === 0
          })
        }
      },
      computed: { // 定义计算属性，当一个变量依赖某个或者多个变量生成时可以使用计算属性
        newArr() {
          // 计算属性需要有返回值，模版中使用时和data中的变量一样，不需要手动调用此函数
          // vue会自动监听此函数中的所有的响应式变量，响应式变量改变时会重新执行此函数计算结果
          // 计算属性有缓存，依赖的变量更新了重新计算，没有更新从缓存中读取
          // 此计算属性不可直接修改，需要通过修改依赖的变量自动更新
          console.log('重新筛选')
          return this.arr.filter(v => {
            if (this.odd) return v % 2 !== 0
            return v % 2 === 0
          })
        },
      }
    })



  
  </script>
</body>
</html>