<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>

  <div class="app">
    <p>姓氏: <input type="text" v-model="firstName">{{ firstName }}</p>
    <p>名字: <input type="text" v-model="lastName">{{ lastName }}</p>
    <p>姓名: {{ fullName }}</p>
    <button @click="changeName">修改姓名</button>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        firstName: '王',
        lastName: '隔壁'
      },
      methods: {
        changeName() {
          this.fullName = '123'
        }
      },
      computed: {
        fullName: {
          get() {
            console.log('获取计算属性')
            return this.firstName + this.lastName
          },
          set(newval) {
            console.log('设置计算属性', newval)
            this.firstName = newval[0]
            this.lastName = newval.slice(1)
          }
        }
      }
    })



  
  </script>
</body>
</html>