<script setup>
import { ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 
import MyInput from './components/MyInput.vue'

const obj = reactive({
  name: '丁真',
  address: '理塘',
  age: 22
})
</script>

<template>
{{ obj }}
<!-- <input type="text" v-model="obj.name"> -->
<!-- <input type="text" :value="obj.name" @input="obj.name = $event.target.value"> -->

<MyInput v-model="obj.name" v-model:age="obj.age" />
<!--
  <MyInput
    :modelValue="obj.name"
    @update:modelValue="val => obj.name = val"
    :age="obj.age"
    @update:age="val => obj.age = val"
  />
-->



</template>

<style lang="scss">

</style>
