.layout {
  width: 100%;
  min-height: 100vh;
}
.header {
  background: #1e80ff;
  padding: 0 20px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.logo {
  color: #ffffff;
  font-size: 40px;
  font-weight: bold;
  margin-right: 20px;
}
.menu {
  background: #1e80ff;
  color: #ffffff;
  border-bottom: none;
  height: 44px;
  line-height: 44px !important;
  flex: 1;
  :global {
    .ant-menu-item {
      min-width: 80px;
      a {
        color: #ffffff;
      }
    }
    .ant-menu-item-selected, .ant-menu-item:hover {
      background: #1861d5;
      font-weight: bold;
      color: #ffffff !important;
      &::after {
        display: none;
      }
      a {
        color: #ffffff;
      }
    }
  }
}
.name {
  height: 60px;
  color: #ffffff;
  span {
    margin-right: 5px;
  }
}