<script>
import { computed } from 'vue'
export default {
  data () {
    return {
      count: 0,
      text: '默认值'
    }
  },
  watch: {
    count () {
      console.log('this.count改变了', this.count)
    }
  },
  computed: {
    testComputed () {
      return this.text + this.count
    }
  },
  methods: {
    add (n) {
      this.count += n
    }
  },
  created () {
    console.log('created', this.$refs.title)
  },
  mounted () {
    console.log('mounted', this.$refs.title)
    console.log(this)
  },
  updated () {
    console.log('updated', this.$refs.title)
  },
  setup () {
    // 写组合式api
    console.log('setup')

    const fn = () => {
      console.log('调用fn')
    }

    const testAbc = computed(() => {
      return '计算属性'
    })

    return {
      arr: [1,2,3,4,5,6,7],
      a: 100,
      b: 200,
      fn,
      testAbc
    }
  }
}
</script>

<template>
  <h1 ref="title">{{ text }}</h1>
  <input type="text" v-model="text">
  <br />
  <button @click="add(-1)">-</button>
  {{ count }}
  <button @click="add(1)">+</button>
  <br />
  {{ testComputed }}
  <br />
  {{ arr }}
  <br />
  <button @click="fn">按钮</button>
  {{ testAbc }}
</template>

<style>

</style>
