* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.app {
  height: 100vh;
}
.box {
  border: 3px solid red;
  padding: 20px;
  min-height: 200px;
}
.rect {
  width: 100px;
  height: 100px;
  background: green;
  position: fixed;
}