<script setup>
</script>

<template>
  <RouterView />
</template>

<style>
* {
  margin: 0;
  padding: 0;
}
html {
  /* 自定义标准屏幕下 1rem === 100px */
  font-size: 100px;
}
html, body, #app, .page {
  width: 100%;
  height: 100%;
}
body {
  font-size: 14px;
}
li {
  list-style-type: none;
}
</style>
