<template>
  <div class="city">
    <h1><div class="close" @click="$router.back()">x</div>当前城市: {{ curCity.name }}</h1>
    <van-search
      v-model="searchValue"
      :show-action="showCancel"
      placeholder="请输入搜索的城市"
      @input="onSearch"
      @cancel="onCancel"
      @focus="onFocus"
    />
    <div class="list">
      <div class="search-list" v-if="showResult">
        <van-empty description="没有匹配的城市" v-if="searchResultList.length === 0" />
        <van-cell
          v-for="val in searchResultList"
          :key="val.cityId"
          :title="val.name"
          @click="setCity(val)"
        />
      </div>
      <van-index-bar v-else :index-list="indexList">
        <template v-for="item in curList">
          <van-index-anchor :index="item.title" :key="item.title" />
          <van-cell
            v-for="val in item.list"
            :key="val.cityId"
            :title="val.name"
            @click="setCity(val)"
          />
        </template>
      </van-index-bar>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  data () {
    return {
      searchValue: '',
      showCancel: false,
      showResult: false
    }
  },
  computed: {
    ...mapState(['cities', 'curCity']),
    curList () {
      const obj = {}
      this.cities.forEach(item => {
        const key = item.pinyin[0].toUpperCase()
        if (obj[key]) {
          obj[key].push(item)
        } else {
          obj[key] = [item]
        }
      })
      const arr = Object.keys(obj).map(key => {
        return {
          title: key,
          list: obj[key]
        }
      })
      arr.sort((a, b) => a.title.charCodeAt() - b.title.charCodeAt())
      console.log(arr)
      return arr
    },
    indexList () {
      return this.curList.map(item => item.title)
    },
    searchResultList () {
      if (!this.searchValue.trim()) return []
      return this.cities.filter(item => item.name.includes(this.searchValue) || item.pinyin.includes(this.searchValue))
    }
  },
  methods: {
    ...mapMutations(['setCurCity']),
    ...mapActions(['getCites']),
    setCity (val) {
      this.setCurCity(val)
      this.$router.back()
    },
    onSearch () {
      this.showResult = true
    },
    onFocus () {
      this.showCancel = true
    },
    onCancel () {
      this.showCancel = false
      this.showResult = false
    }
  },
  async created () {
    this.getCites()
  }
}
</script>

<style lang="scss" scoped>
.city {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: relative;
    .close {
      position: absolute;
      left: 0;
      top: 0;
      width: 44px;
      height: 44px;
      text-align: center;
      cursor: pointer;
    }
  }
}
.van-search {
  position: relative;
  z-index: 10;
}
::v-deep .van-index-anchor {
  background: #f4f4f4 !important;
}
.list {
  flex: 1;
  overflow: auto;
  dt {
    background: #eeeeee;
    font-size: 12px;
    line-height: 24px;
  }
  li {
    line-height: 40px;
    border-bottom: 1px dashed;
    padding: 0 20px;
  }
}
</style>
