<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <footer>
      <router-link to="/">电影</router-link>
      <router-link to="/cinema">影院</router-link>
      <router-link to="/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  footer {
    height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .router-link-exact-active {
      background: orange;
      color: #ffffff;
    }
  }
  main {
    flex: 1;
  }
}
</style>
