<template>
  <div>
    <h2>电影</h2>
    <router-link to="/city">{{ curCity }}</router-link>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  computed: {
    ...mapState(['curCity'])
  }
}
</script>

<style>

</style>
