
.child {
  border: 3px solid red;
  padding: 30px;
}
ul {
  height: 300px;
  border: 1px solid;
  overflow-y: auto;
  li {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px dashed;
    list-style-type: none;
  }
}