<script setup>
  import { ref, watch } from 'vue'
  const props = defineProps(['visible', 'hotComments', 'comments'])
  const emits = defineEmits(['update:visible'])
  
  const popup = ref(null) // 评论弹窗
  const change = e => {
    // 调用父组件的事件
    emits('update:visible', e.show)
  }
  
  watch(() => props.visible, () => {
    if (props.visible) {
      popup.value.open()
    } else {
      popup.value.close()
    }
  })
  
</script>

<template>
  <uni-popup ref="popup" type="bottom" background-color="#fff" @change="change">
    <scroll-view class="popup-content" scroll-y>
      <uni-section v-if="hotComments && hotComments.length > 0" title="热门评论" type="line">
        <view v-for="item in hotComments" :key="item.commentId" class="comment">
          <image :src="item.user.avatarUrl" mode="widthFix"></image>
          <view class="comment-info">
            <view class="comment-top">
              <view class="nickname">{{item.user.nickname}}</view>
              <view class="timeStr">{{item.timeStr}}</view>
              <view class="likedCount">{{item.likedCount}}</view>
            </view>
            <view class="comment-content">
              {{item.content}}
            </view>
          </view>
        </view>
      </uni-section>
      <uni-section title="最新评论" type="line">
        <view v-for="item in comments" :key="item.commentId" class="comment">
          <image :src="item.user.avatarUrl" mode="widthFix"></image>
          <view class="comment-info">
            <view class="comment-top">
              <view class="nickname">{{item.user.nickname}}</view>
              <view class="timeStr">{{item.timeStr}}</view>
              <view class="likedCount">{{item.likedCount}}</view>
            </view>
            <view class="comment-content">
              {{item.content}}
            </view>
          </view>
        </view>
      </uni-section>
    </scroll-view>
  </uni-popup>
</template>

<style lang="scss">
.popup-content {
  height: 80vh;
}
.comment {
  display: flex;
  padding: 30rpx;
  image {
    width: 80rpx;
    border-radius: 50%;
  }
  .comment-info {
    flex: 1;
    overflow: hidden;
    margin-left: 30rpx;
  }
  .comment-top {
    position: relative;
    margin-bottom: 20rpx;
  }
  .nickname {
    color: #666666;
    font-size: 14px;
  }
  .timeStr {
    color: #999999;
    font-size: 12px;
  }
  .likedCount {
    position: absolute;
    right: 0;
    top: 0;
    color: #666666;
    font-size: 12px;
  }
}
</style>