<script setup>
import { ref, watch } from 'vue'
import usePlaylistStore from '@/stores/playlist.js'

const playlistStore = usePlaylistStore() // 引入仓库

const props = defineProps(['visible'])
const emits = defineEmits(['update:visible'])

const playlistPopup = ref(null)

watch(() => props.visible, () => {
  if (props.visible) {
    playlistPopup.value.open()
  } else {
    playlistPopup.value.close()
  }
})

const change = e => {
  emits('update:visible', e.show)
}

const ar = (list) => {
  return list.map(v => v.name).join('/')
}
</script>

<template>
  <uni-popup ref="playlistPopup" type="bottom" background-color="#fff" @change="change">
    <scroll-view class="playlist-content" scroll-y :scroll-top="playlistStore.curSongIndex * 40">
      <view class="title">当前播放列表（{{playlistStore.playlist.length}}首）</view>
      <view class="songs-list">
        <view
          v-for="(item, index) in playlistStore.playlist"
          :key="item.id"
          :class="['song-item', { active: playlistStore.curSongIndex === index }]"
          @click="playlistStore.changeSong(index)"
        >
          {{index + 1}}. {{item.name}} - {{ar(item.ar)}}
        </view>
      </view>
    </scroll-view>
  </uni-popup>
</template>

<style lang="scss">
.playlist-content {
  background: #ffffff;
  min-height: 20vh;
  max-height: 80vh;
  .title {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 80rpx;
    line-height: 80rpx;
    padding-left: 40rpx;
    background: #ffffff;
  }
  .songs-list {
  }
  .song-item {
    height: 80rpx;
    line-height: 80rpx;
    border-bottom: 1px dashed salmon;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 40rpx 0 30rpx;
    box-sizing: border-box;
  }
  .active {
    background: #ff3a3a;
  }
}
</style>