<script setup>
  import { computed } from 'vue'
  import usePlaylistStore from '@/stores/playlist.js'
  
  const props = defineProps(['isTabBar'])
  
  const playlistStore = usePlaylistStore() // 引入仓库
  
  const ar = computed(() => {
    return playlistStore.songInfo?.ar.map(v => v.name).join('/') || ''
  })
  const goPlayer = () => {
    uni.navigateTo({
      url: `/pages/player/player?id=${playlistStore.songInfo.id}`
    })
  }
</script>

<template>
  <view :class="['player-dialog', { tabBar: isTabBar}]" v-if="playlistStore.songInfo" @click="goPlayer">
    <uni-card
      :title="playlistStore.songInfo?.name"
      :sub-title="ar"
      :thumbnail="playlistStore.songInfo?.al.picUrl"
      :isFull="true"
      :border="false"
    ></uni-card>
  </view>
</template>

<style lang="scss">
.player-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 140rpx;
  background: #ffffff;  
  &.tabBar {
    /* #ifdef H5 */
    bottom: 100rpx;
    /* #endif */
  }
}
.player-dialog ::v-deep .uni-card .uni-card__header {
  border-bottom: none;
}
</style>