<template>
  <transition
    enter-active-class="animate__animated animate__fadeIn"
    leave-active-class="animate__animated animate__fadeOut"
  >
    <div v-show="visible" class="cart-mask" @click.self="$emit('update:visible', false)">
      <transition
        enter-active-class="animate__animated animate__fadeInUp"
        leave-active-class="animate__animated animate__fadeOutDown"
      >
      <div class="content" v-show="visible">
        <div class="title">
          <b>购物车</b>
          <span @click="$emit('clear')">清空</span>
        </div>
        <ul>
          <li v-for="item in list" :key="item.name">
            <h4>{{ item.name }}</h4>
            <p>¥{{ item.price }}</p>
            <div class="btns">
              <button @click="$emit('changeCount', item, -1)">-</button>
              <span>{{ item.count }}</span>
              <button @click="$emit('changeCount', item, 1)">+</button>
            </div>
          </li>
        </ul>
      </div>
      </transition>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['visible', 'list']
}
</script>

<style lang="scss" scoped>
.cart-mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: 0.5);
}
.content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding-bottom: 48px;
  ul {
    max-height: 250px;
    overflow: auto;
  }
  li {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    p {
      flex: 1;
      color: tomato;
      text-align: right;
      padding: 0 20px;
    }
    .btns {
      display: flex;
      button {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: skyblue;
        color: #ffffff;
        border: none;
      }
      span {
        width: 30px;
        text-align: center;
      }
    }
  }
}
.title {
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f3f5f7;
  span {
    color: skyblue;
    font-size: 14px;
  }
}
</style>
