<template>
  <div class="page">
    <div class="list">
      <div class="menu">
        <div
          v-for="(item, index) in list"
          :key="item.name"
          :class="['menu-item', { active: curIndex === index }]"
          @click="changeTab(index)"
        >
          <p>
            <span v-if="item.type > -1" :class="`icon-${item.type}`"></span>
            {{ item.name }}
            {{ getTotal(item.foods) }}
          </p>
        </div>
      </div>
      <div class="goods" ref="goods" @scroll="scrollGoods">
        <div class="food-wrap" v-for="item in list" :key="item.name">
          <h3>{{ item.name }}</h3>
          <ul>
            <li v-for="food in item.foods" :key="food.name">
              <div class="img"><img :src="food.image" alt=""></div>
              <div class="food-info">
                <h4>{{ food.name }}</h4>
                <p>月售{{food.sellCount}}份 好评率{{food.rating}}%</p>
                <p>¥{{ food.price }}</p>
                <div class="btns">
                  <template v-if="food.count > 0">
                    <button @click="changeCount(food, -1)">-</button>
                    <span>{{ food.count }}</span>
                  </template>
                  <button @click="changeCount(food, 1)">+</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-left" @click="changeShowCart">
        <div class="cart">
          <div class="cart-img" :class="{ active: total.count > 0 }">
            <svg t="1687750639517" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2407" width="26" height="26"><path d="M346.112 806.912q19.456 0 36.864 7.168t30.208 19.968 20.48 30.208 7.68 36.864-7.68 36.864-20.48 30.208-30.208 20.48-36.864 7.68q-20.48 0-37.888-7.68t-30.208-20.48-20.48-30.208-7.68-36.864 7.68-36.864 20.48-30.208 30.208-19.968 37.888-7.168zM772.096 808.96q19.456 0 37.376 7.168t30.72 19.968 20.48 30.208 7.68 36.864-7.68 36.864-20.48 30.208-30.72 20.48-37.376 7.68-36.864-7.68-30.208-20.48-20.48-30.208-7.68-36.864 7.68-36.864 20.48-30.208 30.208-19.968 36.864-7.168zM944.128 227.328q28.672 0 44.544 7.68t22.528 18.944 6.144 24.064-3.584 22.016-13.312 37.888-22.016 62.976-23.552 68.096-18.944 53.248q-13.312 40.96-33.28 56.832t-49.664 15.872l-35.84 0-65.536 0-86.016 0-96.256 0-253.952 0 14.336 92.16 517.12 0q49.152 0 49.152 41.984 0 20.48-9.728 35.328t-38.4 14.848l-49.152 0-94.208 0-118.784 0-119.808 0-99.328 0-55.296 0q-20.48 0-34.304-9.216t-23.04-24.064-14.848-32.256-8.704-32.768q-1.024-6.144-5.632-29.696t-11.264-58.88-14.848-78.848-16.384-87.552q-19.456-103.424-44.032-230.4l-76.8 0q-15.36 0-25.6-7.68t-16.896-18.432-9.216-23.04-2.56-22.528q0-20.48 13.824-33.792t37.376-13.312l21.504 0 21.504 0 25.6 0 34.816 0q20.48 0 32.768 6.144t19.456 15.36 10.24 19.456 5.12 17.408q2.048 8.192 4.096 23.04t4.096 30.208q3.072 18.432 6.144 38.912l700.416 0zM867.328 194.56l-374.784 0 135.168-135.168q23.552-23.552 51.712-24.064t51.712 23.04z" p-id="2408" fill="#cccccc"></path></svg>
          </div>
          <div class="total-count" v-if="total.count > 0">{{ total.count }}</div>
        </div>
        <div class="total" :class="{ active: total.price > 0 }">¥{{ total.price }}</div>
        <div class="desc">另需配送费¥4元</div>
      </div>
      <div class="pay" :class="{ active: total.price >= 20 }">
        <span v-if="total.price === 0">¥20起送</span>
        <span v-else-if="total.price > 0 & total.price < 20">还差¥{{ 20 - total.price }}起送</span>
        <span v-else>去结算</span>
      </div>
    </footer>
    <CartList
      :visible.sync="showCart"
      :list="cartList"
      @changeCount="changeCount"
      @clear="clearCart"
    />
  </div>
</template>

<script>
import CartList from './CartList.vue'
import { getGoods } from '../api'
export default {
  data () {
    return {
      list: [], // 商品列表
      curIndex: 0, // 高亮下标
      scrollTopList: [], // 右侧所有元素到顶部的距离
      cartList: [], // 购物车列表
      showCart: false // 显示隐藏购物车
    }
  },
  computed: {
    total () {
      return this.cartList.reduce((prev, val) => {
        return {
          count: prev.count + val.count,
          price: prev.price + val.count * val.price
        }
      }, {
        count: 0,
        price: 0
      })
    }
  },
  methods: {
    changeTab (index) {
      this.$refs.goods.scrollTop = this.$refs.goods.children[index].offsetTop
    },
    scrollGoods (e) {
      // console.log('滚动了', e.target.scrollTop, this.scrollTopList)
      this.scrollTopList.forEach((t, index) => {
        const scrollTop = e.target.scrollTop
        if (this.scrollTopList[index + 1] && scrollTop >= t && scrollTop < this.scrollTopList[index + 1]) {
          this.curIndex = index
        }
        if (scrollTop >= this.scrollTopList[this.scrollTopList.length - 1]) {
          this.curIndex = this.scrollTopList.length - 1
        }
      })
    },
    changeCount (food, num) {
      if (food.count) {
        food.count += num
        if (food.count <= 0) {
          const index = this.cartList.findIndex(v => v === food)
          this.cartList.splice(index, 1)
        }
      } else {
        this.$set(food, 'count', 1)
        this.cartList.push(food)
      }
    },
    changeShowCart () {
      if (this.total.count > 0) {
        this.showCart = !this.showCart
      }
    },
    clearCart () {
      this.cartList.forEach(item => {
        item.count = 0
      })
      this.cartList = []
    },
    getTotal (foods) {
      return foods.reduce((prev, val) => prev + (val.count || 0), 0)
    }
  },
  watch: {
    total () {
      if (this.total.count === 0) {
        this.showCart = false
      }
    }
  },
  components: {
    CartList
  },
  async created () {
    const res = await getGoods()
    this.list = res.data.data
    this.$nextTick(() => {
      // 等待页面渲染完成，获取每个元素到父元素的距离
      this.scrollTopList = [...this.$refs.goods.children].map(item => item.offsetTop)
    })
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.list {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.menu {
  width: 80px;
  overflow: auto;
  background: #f3f5f7;
  .menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #333333;
  }
  .active {
    background: #ffffff;
    color: #000000;
  }
  p {
    font-size: 12px;
    padding: 0 10px;
    text-align: center;
    span {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-size: contain;
      vertical-align: middle;
    }
  }
}
.goods {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}
.food-wrap {
  h3 {
    background: #f3f5f7;
    border-left: 2px solid #d9dde1;
    color: #666;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding-left: 14px;
  }
  li {
    display: flex;
    padding: 20px;
  }
  .img {
    width: 50px;
  }
  .food-info {
    flex: 1;
    padding-left: 20px;
  }
  .btns {
    float: right;
    display: flex;
    span {
      width: 30px;
      text-align: center;
      font-size: 14px;
    }
    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: skyblue;
      color: #ffffff;
      border: none;
    }
  }
}
footer {
  height: 48px;
  background: #000000;
  display: flex;
  font-size: 12px;
  position: relative;
  z-index: 1;
}
.footer-left {
  flex: 1;
  display: flex;
  align-items: center;
}
.cart {
  width: 56px;
  height: 56px;
  background: #000000;
  margin: 0 10px;
  border-radius: 50%;
  position: relative;
  top: -10px;
  padding: 6px;
  .cart-img {
    width: 44px;
    height: 44px;
    background: #333333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    &.active {
      background: skyblue;
      .icon path {
        fill: #ffffff;
      }
    }
  }
  .total-count {
    background: -webkit-gradient(linear,left top,right top,from(#fc9153),to(#f01414));
    background: -webkit-linear-gradient(left,#fc9153,#f01414);
    background: linear-gradient(90deg,#fc9153,#f01414);
    border-radius: 16px;
    color: #fff;
    display: inline-block;
    font-family: Helvetica;
    font-size: 10px;
    font-weight: 700;
    height: 16px;
    line-height: 16px;
    padding: 0 5px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
  }
}
.total {
  color: #999999;
  font-size: 18px;
  width: 50px;
  text-align: center;
  &.active {
    color: #ffffff;
    font-weight: bold;
  }
}
.desc {
  color: #999999;
}
.pay {
  width: 105px;
  background: #333333;
  color: #999999;
  text-align: center;
  line-height: 48px;
  &.active {
    background: #00b43c;
    color: #fff;
  }
}
</style>
