<template>
  <header @click="$emit('handleClick')">
    <dl class="info">
      <dt><img :src="info.avatar" alt=""></dt>
      <dd v-if="info.supports">
        <h3>{{ info.name }}</h3>
        <p>{{ info.description }}/{{ info.deliveryTime }}分钟送达</p>
        <p>{{ info.supports[0].description }}</p>
        <span>{{ info.supports.length }}个</span>
      </dd>
    </dl>
    <div class="tip">{{ info.bulletin }}</div>
    <div class="mark"><img :src="info.avatar" alt=""></div>
  </header>
</template>

<script>
export default {
  props: ['info']
}
</script>

<style lang="scss" scoped>
header {
  height: 136px;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background: rgba($color: #252525, $alpha: .5);
}
.mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(10px);
  img {
    width: 100%;
    height: 100%;
  }
}
.info {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding: 20px;
  dt {
    width: 60px;
    height: 60px;
  }
  dd {
    flex: 1;
    padding-left: 20px;
    color: #ffffff;
    position: relative;
    h3 {
      font-size: 16px;
    }
    p, span {
      font-size: 12px;
    }
    span {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 20px;
      background: rgba($color: #000000, $alpha: .5);
      border-radius: 20px;
      text-align: center;
      line-height: 20px;
    }
  }
}
.tip {
  height: 36px;
  overflow: hidden;
  background: rgba($color: #1f1d1d, $alpha: .5);
  color: #ffffff;
  font-size: 14px;
  line-height: 36px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 20px;
}
</style>
