<template>
  <div class="page">
    <button @click="type = 0">全部</button>
    <button @click="type = 1">满意</button>
    <button @click="type = 2">不满意</button>
    <div class="switch" @click="switchOn = !switchOn">
      <span :class="{ active: switchOn }"></span>
      只看有内容的评价
    </div>
    {{ curList.length }}
    <div class="list">
      <div class="list-item" v-for="item in curList" :key="item.rateTime">
        <img :src="item.avatar" alt="">
        <h4>{{ item.username }}</h4>
        <p>{{ item.text }}</p>
        <p>{{ item.formatTime }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { getRatings } from '../api'
import moment from 'moment'

export default {
  data () {
    return {
      list: [],
      switchOn: false,
      type: 0 // 0:全部 1:满意 2:不满意
    }
  },
  computed: {
    curList () {
      let arr = [...this.list]
      if (this.type === 1) {
        arr = arr.filter(v => v.score >= 4)
      } else if (this.type === 2) {
        arr = arr.filter(v => v.score < 4)
      }
      if (this.switchOn) {
        return arr.filter(v => v.text)
      }
      return arr
    }
  },
  methods: {
    async getList () {
      const res = await getRatings()
      this.list = res.data.data.map(item => {
        return {
          ...item,
          formatTime: this.format(item.rateTime)
        }
      })
    },
    format (time) {
      return moment(time).format('YYYY-MM-DD kk:mm:ss')
    }
  },
  created () {
    this.getList()
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.list {
  img {
    width: 40px;
  }
}
.list-item {
  border-bottom: 1px dashed;
  padding: 20px;
}
.switch {
  padding: 10px 20px;
  span {
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50%;
    background: #dddddd;
    vertical-align: middle;
  }
  .active {
    background: #00b43c;
  }
}
</style>
