<script setup>
// 组合式api
import { ref, nextTick } from 'vue'

const inp = ref(null)

const submit = () => {
  console.log(inp.value.value)
}

</script>

<template>
  <!-- 获取 dom 元素，先定义同名的 ref 对象，传给要获取的 dom 元素 -->
  <input type="text" ref="inp">
  <button @click="submit">按钮</button>
</template>

<style>

</style>
