<script setup>
import Child2 from './Child2.vue';
</script>

<template>
  <div class="box">
    <h2>第二层组件</h2>
    <Child2></Child2>
  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 3px solid tomato;
  padding: 50px;
}
</style>
