<script setup>
import { inject } from 'vue'

const nn = inject('name')

</script>

<template>
  <div class="box">
    <h2>第三层组件</h2>
    {{ nn }}
  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 3px solid orange;
  padding: 50px;
}
</style>
