<template>
  <div>
    <h2>{{ info.name }}</h2>
    {{ info }}
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      info: {}
    }
  },
  async created () {
    // this.$route: 当前路由信息
    console.log(this.$route)
    // const filmId = this.$route.query.filmId // 获取 ? 后的参数
    const filmId = this.$route.params.id // 获取动态路由参数
    const res = await axios.get('https://m.maizuo.com/gateway', {
      params: {
        filmId: filmId,
        k: 952069
      },
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16659764383978050249162753","bc":"110100"}',
        'X-Host': 'mall.film-ticket.film.info'
      }
    })
    this.info = res.data.data.film
    console.log(res.data.data.film)
    // const res = await axios.get('/api/hot/list/detail', {
    //   params: {
    //     id: filmId
    //   }
    // })
    // console.log(res.data)
    // this.info = res.data
  }
}
</script>

<style>

</style>
