<template>
  <div class="page">
    <dl v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <dt><img :src="item.poster" alt=""></dt>
      <dd>
        <h3>{{ item.name }}</h3>
        <p>评分: {{ item.grade }}</p>
        <p>主演：<span v-for="(val, index) in item.actors" :key="index">{{ val.name }}</span></p>
        <p>{{ item.nation }} | {{ item.runtime }}分钟</p>
      </dd>
    </dl>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data () {
    return {
      list: []
    }
  },
  methods: {
    goDetail (filmId) {
      // query 传参
      // this.$router.push(`/detail?filmId=${filmId}&title=123&test=abc`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     filmId,
      //     title: '测试title',
      //     test: 'abcdefg'
      //   }
      // })
      // 动态路由传参
      // this.$router.push(`/detail/${filmId}`)
      this.$router.push({
        name: 'detail',
        params: {
          id: filmId
        }
      })
    }
  },
  async created () {
    // 调用卖座接口
    const res = await axios.get('https://m.maizuo.com/gateway', {
      params: {
        cityId: 110100,
        type: 1,
        k: 4668220,
        pageNum: 1,
        pageSize: 20
      },
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"16659764383978050249162753","bc":"110100"}',
        'X-Host': 'mall.film-ticket.film.list'
      }
    })
    console.log(res.data)
    this.list = res.data.data.films
    // const res = await axios.get('/api/hot/list')
    // this.list = res.data.data.films
  }
}
</script>

<style lang="scss" scoped>
.page {
  overflow: auto;
  dl {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid #dddddd;
  }
  dt {
    width: 80px;
  }
  dd {
    flex: 1;
    overflow: hidden;
    padding-left: 15px;
    span {
      margin-right: 3px;
    }
  }
}
</style>
