<template>
  <div class="page">
    <nav>
      <router-link replace to="/movie/hot">正在热映</router-link>
      <router-link replace to="/movie/coming">即将上映</router-link>
    </nav>
    <div class="content">
      <router-view />
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.page {
  display: flex;
  flex-direction: column;
  nav {
    height: 40px;
    background: skyblue;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
    .router-link-active {
      color: red;
      font-weight: bold;
    }
  }
  .content {
    flex: 1;
    overflow: hidden;
  }
}
</style>
