<template>
  <div class="page">
    <van-nav-bar fixed title="选择地址" left-text="返回" left-arrow @click-left="$router.back()" />
    <van-address-list
      v-model="curAddress.id"
      :list="addressList"
      @add="onAdd"
      @edit="onEdit"
      @select="onSelect"
    >
      <van-empty v-if="addressList.length === 0" description="快去添加新地址吧～" />
    </van-address-list>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['curAddress', 'addressList'])
  },
  methods: {
    ...mapMutations(['setCurAddress']),
    onAdd () {
      this.$router.push('/create')
    },
    onEdit (item) {
      this.$router.push({
        path: '/create',
        query: {
          id: item.id
        }
      })
    },
    onSelect (item, index) {
      this.setCurAddress(item)
      this.$toast('修改成功')
      this.$router.back()
    }
  }
}
</script>

<style lang="scss" scoped>
.page {
  width: 100%;
  min-height: 100%;
  background: #f9faf7;
  padding-top: 46px;
}
</style>
