<template>
  <div class="page">
    <main>
      <!-- <transition enter-active-class="animate__animated animate__fadeIn"> -->
      <router-view />
      <!-- </transition> -->
    </main>
    <footer>
      <router-link to="/movie">电影</router-link>
      <router-link to="/cinema">影院</router-link>
      <router-link to="/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.page {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 48px;
    background: #cccccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 48px;
    }
    .router-link-active {
      background: orange;
      color: #ffffff;
    }
  }
}
</style>
