<script setup>
import { ref } from 'vue'
import Dialog from './Dialog.vue'
const show = ref(false)

</script>

<template>
  <div class="box">
    <h2>第二层组件</h2>
    <button @click="show = true">显示弹窗</button>

    <!-- 把 Teleport 标签内的内容渲染到 to 执定的元素内 -->
    <Teleport to=".abc">
      <Dialog v-if="show" @close="show = false" />
    </Teleport>

  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 3px solid tomato;
  padding: 50px;
  overflow: hidden;
}



</style>
