<script setup>
import { RouterView, RouterLink } from 'vue-router'
</script>

<template>
  <RouterLink to="/">首页</RouterLink>
  <RouterLink to="/about">关于我们</RouterLink>
  <RouterView />
</template>

<style lang='scss'>
.router-link-active {
  background: red;
  color: #ffffff;
}
</style>
