* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  width: 100%;
}
html, body, #root, .app {
  width: 100%;
  height: 100%;
}
.box {
  border: 2px solid red;
  padding: 20px;
}
.app {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      text-align: center;
      flex: 1;
      line-height: 50px;
    }
    .active {
      background: tomato;
      color: #ffffff;
    }
  }
}
.red {
  background: red;
  color: #ffffff;
}