.home {
  color: #333333;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
    :global(.adm-empty) {
      height: 100%;
    }
  }
  footer {
    border-top: 1px solid #dddddd;
    padding: 20px 12px;
  }
}
.list {
  height: 100%;
  background: #eeeeee;
  padding: 20px;
}
.card {
  margin-bottom: 10px;
  p {
    line-height: 44px;
  }
}