<script setup>
import { reactive, watch } from 'vue'
import { useRoute, RouterLink, useRouter } from 'vue-router'
import { tablistConfig } from '../constant'

const route = useRoute()
const router = useRouter()
const navlist = reactive([])

watch(route, () => {
  const index = navlist.findIndex(item => item.path === route.path)
  if (index === -1) {
    tablistConfig.forEach(item => {
      item.list.forEach(val => {
        if (val.path === route.path) {
          navlist.push(val)
        }
      })
    })
  }
}, { immediate: true })


const remove = index => {
  if (navlist.length === 1) {
    router.push('/login')
    localStorage.removeItem('token')
    return
  }
  if (route.path === navlist[index].path) {
    if (navlist[index + 1]) {
      router.push(navlist[index + 1].path)
    } else {
      router.push(navlist[index - 1].path)
    }
  }
  navlist.splice(index, 1)
}

</script>

<template>
  <div class="header">
    <p v-for="(item, index) in navlist" :key="item.path">
      <RouterLink :to="item.path">{{ item.title }}</RouterLink>
      <span @click="remove(index)">x</span>
    </p>
  </div>
</template>

<style lang='scss' scoped>
.header {
  background: #eeeeee;
  height: 100px;
  display: flex;
  p {
    height: 40px;
    line-height: 40px;
    margin: 10px;
    background: #999999;
    padding-right: 20px;
    position: relative;
    span {
      position: absolute;
      right: 0;
      top: 0;
      width: 20px;
      height: 40px;
      cursor: pointer;
      &:hover {
        color: orange !important;
      }
    }
  }
  a {
    color: #dddddd;
    text-decoration: none;
    padding: 0 10px;
    display: block;
    &.router-link-active {
      background: skyblue;
      color: #ffffff;
      &+span {
        background: skyblue;
        color: #ffffff;
      }
    }
  }
}
</style>
