<script setup>
  import { computed, reactive, ref, watch } from 'vue'
  const props = defineProps({
    visible: Boolean,
    title: {
      default: '默认标题'
    },
    okText: {
      default: '确定'
    },
    cancelText: {
      default: '取消'
    },
    menulist: Array,
    selected: Array
  })

  const copyMenulist = reactive(props.menulist) // 所有部门数据
  const letter = reactive(['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z'])
  const curMenuTitle = ref('') // 选中的部门标题
  const userlist = ref([]) // 选中部门员工列表
  const curLetter = ref('') // 筛选的首字母
  const selectedList = ref([]) // 选中的员工
  const filterUser = (menuItem) => { // 点击一级部门筛选员工列表
    curMenuTitle.value = menuItem.title // 存当前点击的部门
    curLetter.value = '' // 清空首字母
    userlist.value = menuItem.children.reduce((prev, val) => { // 当前一级部门下的所有员工
      return prev.concat(val.children)
    }, [])
  }
  const setUserList = (menuItem) => { // 点击二级部门筛选员工列表
    curMenuTitle.value = menuItem.title // 存当前点击的部门
    curLetter.value = ''
    userlist.value = menuItem.children
  }
  // 根据首字母筛选当前部门的员工列表
  const resultUser = computed(() => {
    if (!curLetter.value) return userlist.value
    return userlist.value.filter(v => v.pinyin[0].toUpperCase() === curLetter.value)
  })
  const select = (user) => { // 添加到已选择列表
    if (!selectedList.value.find(v => v.name === user.name)) {
      selectedList.value.push(user)
    }
  }
  const removeSelect = index => { // 删除
    selectedList.value.splice(index, 1)
  }

  watch(() => props.visible, () => {
    if (props.visible) {
      selectedList.value = [...props.selected]
    }
  })
</script>

<template>
  <div class="dialog" v-if="visible">
    <div class="content">
      <div class="header">
        <b>{{ title }}</b>
        <span @click="$emit('update:visible', false)">x</span>
      </div>
      <div class="center">
        <div class="left">
          <div v-for="item in copyMenulist" :key="item.title" class="list-item">
            <h3 :class="{ 'active-menu': curMenuTitle === item.title }" @click="filterUser(item)">
              <span @click.stop="item.show = !item.show">{{ item.show ? '-' : '+'}}</span>
              {{ item.title }}
            </h3>
            <ul v-show="item.show">
              <li
                v-for="val in item.children"
                :key="val.title"
                @click="setUserList(val)"
                :class="{ 'active-menu': curMenuTitle === val.title }" 
              >{{ val.title }}</li>
            </ul>
          </div>
        </div>
        <div class="right">
          <div class="letter">
            <h4>点击左侧部门筛选员工，或者点击下方字母筛选</h4>
            <ul class="letters">
              <li v-for="l in letter" :key="l" :class="{ active: curLetter === l }" @click="curLetter = l">{{ l }}</li>
            </ul>
            <div class="userlist">
              <div class="empty" v-if="resultUser.length === 0">暂无员工</div>
              <p v-for="item in resultUser" :key="item.name" @click="select(item)">{{ item.name }}</p>
            </div>
          </div>
          <div class="selected">
            <h4>已选择</h4>
            <ul>
              <li v-for="(item, index) in selectedList" :key="item.name">
                {{ item.name }}
                <span @click="removeSelect(index)">x</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="bottom">
        <button @click="$emit('confirm', [...selectedList])">{{ okText }}</button>
        <button @click="$emit('cancel')">{{ cancelText }}</button>
      </div>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.dialog {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}
.center {
  flex: 1;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  display: flex;
}
.left {
  width: 200px;
  border-right: 1px solid #dddddd;
  padding: 20px;
}
.list-item {
  h3 {
    font-size: 16px;
    cursor: pointer;
    line-height: 40px;
    &:hover {
      background: #eeeeee;
    }
  }
  ul {
    padding-left: 20px;
    li {
      font-size: 14px;
      line-height: 36px;
      cursor: pointer;
      list-style: disc;
      &:hover {
        background: #eeeeee;
      }
    }
  }
}
.active-menu {
  color: tomato !important;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.letter {
  height: 150px;
  border-bottom: 1px solid #dddddd;
  h4 {
    text-align: center;
    padding: 10px;
    color: #999999;
  }
}
.letters {
  display: flex;
  justify-content: center;
  li {
    margin: 0 3px;
    cursor: pointer;
    &.active {
      color: orange;
    }
  }
}
.userlist {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  height: 70px;
  overflow: auto;
  p {
    border: 1px solid #cccccc;
    height: 26px;
    margin-right: 8px;
    margin-bottom: 5px;
    padding: 2px 4px;
    font-size: 14px;
    cursor: pointer;
    &:hover {
      border-color: skyblue;
      background: #eeeeee;
    }
  }
}
.empty {
  width: 100%;
  text-align: center;
  color: #999999;
}
.selected {
  flex: 1;
  padding: 20px;
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      border: 1px solid #cccccc;
      height: 26px;
      margin-right: 8px;
      margin-bottom: 5px;
      padding: 2px 4px;
      font-size: 14px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        border-color: skyblue;
        background: #eeeeee;
      }
      span {
        width: 16px;
        height: 16px;
        text-align: center;
        line-height: 16px;
        &:hover {
          background: tomato;
          color: #ffffff;
        }
      }
    }
  }
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  span {
    cursor: pointer;
    &:hover {
      color: tomato;
    }
  }
}
.bottom {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    width: 100px;
    height: 36px;
    margin: 0 5px;
    border: 1px solid #dddddd;
    background: #ffffff;
    &:first-of-type {
      background: #499ff8;
      color: #ffffff;
      border: none;
    }
  }
}
</style>
