<template>
  <footer>
    <select :value="pagesize" @change="$emit('changePageSize', $event.target.value)">
      <option :value="3">每页3条</option>
      <option :value="5">每页5条</option>
      <option :value="8">每页8条</option>
    </select>
    <button :disabled="page === 1" @click="$emit('changePage', page - 1)">上一页</button>
    <button
      v-for="n in totalPage"
      :key="n"
      :class="{ active: n === page }"
      @click="$emit('changePage', n)"
    >{{ n }}</button>
    <button :disabled="page === totalPage" @click="$emit('changePage', page + 1)">下一页</button>
  </footer>
</template>

<script>
export default {
  props: ['page', 'pagesize', 'totalPage']
}
</script>

<style lang="scss" scoped>
footer {
  height: 50px;
  border-top: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  button {
    margin-left: 20px;
    padding: 0 10px;
  }
  .active {
    background: #4e6ef2;
    color: #ffffff;
    border: none;
  }
}
</style>
