<template>
  <header>
    <input type="text" v-model.trim="text">
    <button @click="submit">搜索</button>
    <button @click="reset">重置</button>
    <button @click="$emit('changeSortType')">{{ enumObj[sortType] }}</button>
  </header>
</template>

<script>
export default {
  props: ['sortType'],
  data () {
    return {
      text: '',
      enumObj: ['默认排序', '价格升序', '价格降序']
    }
  },
  methods: {
    submit () {
      this.$emit('change', this.text)
    },
    reset () {
      this.text = ''
      this.$emit('change', '')
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  height: 50px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 0;
  button {
    margin-left: 20px;
    padding: 0 10px;
  }
  input {
    width: 200px;
  }
}
</style>
