<template>
  <main>
    <dl v-for="item in list" :key="item.item_id">
      <dt>
        <img :src="item.img" alt="">
      </dt>
      <dd>
        <h3>{{ item.num }} - <b v-html="item.title "></b></h3>
        <p>¥{{ item.price }}</p>
      </dd>
    </dl>
  </main>
</template>

<script>
export default {
  props: ['list']
}
</script>

<style lang="scss" scoped>
main {
  width: 80%;
  margin: 0 auto;
}
dl {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid #cccccc;
  dt {
    width: 120px;
    height: 120px;
  }
  dd {
    flex: 1;
    padding-left: 20px;
    p {
      color: red;
      font-size: 20px;
      margin-top: 20px;
    }
  }
}
</style>
