<template>
  <div class="app">
    <Header @add="add" />
    <List :list="list" @change="changeChecked" @del="remove" />
  </div>
</template>

<script>
import Header from './components/Header.vue'
import List from './components/List.vue'

export default {
  data () {
    return {
      list: []
    }
  },
  methods: {
    add (text) {
      this.list.push({
        text,
        checked: false,
        id: Date.now()
      })
    },
    changeChecked (index) {
      this.list[index].checked = !this.list[index].checked
    },
    remove (index) {
      this.list.splice(index, 1)
    }
  },
  components: {
    Header,
    List
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
</style>
