<template>
  <div>
    <el-result icon="error" title="404" subTitle="访问的页面不存在">
      <template slot="extra">
        <el-button type="primary" size="medium" @click="$router.replace('/')">去首页</el-button>
      </template>
    </el-result>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>
