<template>
  <div class="wrap" v-loading>
    <h2>自定义指令</h2>
    <button @click="num--">-</button>
    <span>{{ num }}</span>
    <button @click="add">+</button>
    <br />
    <button v-copy="num">复制</button>
    <hr />
    <input type="text" v-model="text">
    <p v-copy="text" class="box">box</p>
  </div>
</template>

<script>

export default {
  data () {
    return {
      text: '',
      num: 10
    }
  },
  methods: {
    add () {
      this.num++
      this.$nextTick(() => {
        console.log(document.querySelector('span').outerHTML)
      })
    }
  }
}
</script>

<style lang="scss">
.box {
  width: 100px;
  height: 100px;
  background: red;
}
</style>
