<template>
  <div class="about">
    <h1>关于我们</h1>
    <button @click="dec">num - 1</button>
    <br />
    {{ abc }}
    <br />
    {{ a }}
    <br />
    {{ test }}
    <br />
    {{ word }}
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  computed: {
    ...mapState({
      abc: state => state.num
    }),
    ...mapState(['a']),
    ...mapGetters(['word']),
    test () {
      return this.$store.state
    }
  },
  methods: {
    dec () {
      console.log('-1')
      this.$store.commit('decNum', 1)
    }
  }
}
</script>
