<template>
  <div class="home">
    <h1>首页</h1>
    <p>当前的num: {{ num }}</p>
    <button @click="addNum(2)">+2</button>
    <hr />
    {{ obj }}
    <button @click="addAge(30)">给 obj 添加 age 属性</button>
    <hr />
    {{ word }}
  </div>
</template>

<script>
import { mapState, mapMutations, mapGetters } from 'vuex'

export default {
  name: 'HomeView',
  computed: {
    ...mapState(['num', 'a', 'b', 'c', 'd', 'e', 'obj']),
    ...mapGetters(['word'])
    // word () {
    //   return this.a + this.b + this.c + this.d + this.e
    // }
    // num () {
    //   return this.$store.state.num
    // },
    // a () {
    //   return this.$store.state.a
    // },
    // b () {
    //   return this.$store.state.b
    // },
    // c () {
    //   return this.$store.state.c
    // },
    // d () {
    //   return this.$store.state.d
    // }
  },
  methods: {
    ...mapMutations(['addNum', 'setAge']),
    ...mapMutations({
      addAge: 'setAge'
    })
    // add () {
    //   // 调用 store 中 mutations 的函数
    //   this.$store.commit('addNum', 2)
    // },
    // setObj () {
    //   this.$store.commit('setAge', 20)
    // }
  },
  created () {
    console.log(this.$store.state)
  }
}
</script>
