<script>
export default {
  data () {
    return {
      count: 0,
      text: '默认值'
    }
  },
  watch: {
    count () {
      console.log('this.count改变了', this.count)
    }
  },
  computed: {
    testComputed () {
      return this.text + this.count
    }
  },
  methods: {
    add (n) {
      this.count += n
    }
  },
  created () {
    console.log('created', this.$refs.title)
  },
  mounted () {
    console.log('mounted', this.$refs.title)
  },
  updated () {
    console.log('updated', this.$refs.title)
  }
}
</script>

<template>
  <h1 ref="title">{{ text }}</h1>
  <input type="text" v-model="text">
  <br />
  <button @click="add(-1)">-</button>
  {{ count }}
  <button @click="add(1)">+</button>
  <br />
  {{ testComputed }}
</template>

<style>

</style>
