<script setup>
import axios from 'axios'
import { useRoute } from 'vue-router'
import { ref } from 'vue'

const route = useRoute()
const info = ref({})

console.log(route.params)
// const filmId = route.query.id // 获取 query 参数
const filmId = route.params.id // 获取动态路由参数

const getDetail = async () => {
  const res = await axios.get('https://m.maizuo.com/gateway?k=3501820', {
    params: {
      filmId
    },
    headers: {
      'X-Client-Info':'{"a":"3000","ch":"1002","v":"5.2.1","e":"16659764383978050249162753"}',
      'X-Host':'mall.film-ticket.film.info'
    }
  })
  info.value = res.data.data.film
}
getDetail()

</script>

<template>
  <main>
    详情页
    <h1>{{ info.name }}</h1>
    <img :src="info.poster" alt="">
    {{ info }}
  </main>
</template>
