<script setup>
import axios from 'axios'
import { ref } from 'vue'
import { useRouter, useRoute } from 'vue-router'

const route = useRoute() // 获取当前路由信息，等同于 this.$route
const router = useRouter() // 路由实例对象，等同于 this.$router

const list = ref([])

const getList = async () => {
  const res = await axios.get('https://m.maizuo.com/gateway?cityId=440300&pageNum=1&pageSize=10&type=1&k=8306434', {
    headers: {
      'X-Client-Info':'{"a":"3000","ch":"1002","v":"5.2.1","e":"16659764383978050249162753"}',
      'X-Host':'mall.film-ticket.film.list'
    }
  })
  list.value = res.data.data.films
}
getList()

const goDetail = id => {
  // router.push({
  //   path: '/detail',
  //   query: {
  //     id
  //   }
  // })
  router.push(`/detail/${id}`)
  // router.push({
  //   name: 'detail',
  //   params: {
  //     id
  //   }
  // })
}

</script>

<template>
  <ul>
    <li v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <h3>{{ item.name }} - {{ item.filmId }}</h3>
      <img :src="item.poster" width="100" alt="">
    </li>
  </ul>
</template>
