<script setup>
import { defineAsyncComponent, provide, ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 
// import Child1 from './components/Child1.vue'
// 异步组件: 打包成单独的js文件
const Child1 = defineAsyncComponent(() =>import('./components/Child1.vue'))

const obj = reactive({
  name: '丁真',
  address: '理塘',
  age: 22
})

provide('name', obj)

</script>

<template>
  <h1>App</h1>
  {{ obj }}
  <input type="text" v-model="obj.name">
  <Child1 />




</template>

<style lang="scss">
.abc {
  background: green;
}
</style>
