* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 60px;
    background: #cccccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 60px;
      color: #333333;
    }
    .cur {
      background: tomato;
      color: #ffffff;
    }
  }
}
.movie {
  height: 100%;
  overflow: auto;
}
.movie {
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 50px;
    background: #cccccc;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
    }
    .active {
      background: tomato;
      color: #ffffff;
    }
  }
  .content {
    flex: 1;
    overflow: hidden;
  }
}
.hot {
  height: 100%;
  overflow: auto;
}
.mine {
  li {
    padding-left: 20px;
    border-bottom: 1px solid;
  }
}
.child {
  border: 2px solid red;
  height: 200px;
}