.wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.keyboard {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(209, 213, 219, 1);
  border-radius: 5px 5px 0 0;
  box-shadow: 5px 5px 10px #9e9e9e;
  display: flex;
  flex-direction: column;
}
.plateNum {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  button {
    width: 70px;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    text-align: center;
    color: #fff;
    background: #007fff;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #979797;
    border: none;
  }
  ul {
    display: flex;
    li {
      list-style-type: none;
      width: 36px;
      height: 36px;
      box-sizing: border-box;
      border: 1px solid #ccc;
      display: inline-block;
      line-height: 36px;
      font-size: 18px;
      color: #000;
      text-align: center;
      margin-right: 5px;
      background: #fff;
      border-radius: 5px;
      &:last-of-type {
        border: 2px dashed green;
      }
      &.active {
        border: 1px solid #007fff;
        color: #007fff;
      }
    }
  }
}
.keyboardBox {
  ul {
    padding-left: 10px;
    overflow: hidden;
    padding-top: 10px;
    li {
      list-style-type: none;
      float: left;
      box-sizing: border-box;
      border: 1px solid #ccc;
      color: #000;
      text-align: center;
      margin-right: 5px;
      background: #fff;
      border-radius: 5px;
      width: 30px;
      height: 30px;
      font-size: 12px;
      line-height: 30px;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        box-shadow: 0px 0px 3px #007fff;
      }
      &.del {
        float: right;
        background: #f43f5e;
        color: #fff;
        padding: 0 10px;
        width: 50px;
      }
    }
  }
}