<script setup>
import { ref } from 'vue'

const props = defineProps(['name', 'age', 'address'])

console.log(props)
const num = ref(1000)

</script>

<template>
  <div class="box">
    <div class="header">
      <slot name="aa" :num="num" cc="曹操"></slot>
    </div>
    <div class="center">
      <slot></slot>
    </div>
    <div class="footer">
      <slot name="bb"></slot>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.box {
  border: 2px solid tomato;
  height: 500px;
  display: flex;
  flex-direction: column;
}
.header {
  height: 100px;
  background: skyblue;
}
.center {
  flex: 1;
}
.footer {
  height: 100px;
  background: #cccccc;
}
</style>
