<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>组件</h1>
    <my-goods></my-goods>
    
    <hr />
    <my-button></my-button>

    <hr />
    <my-goods></my-goods>
  </div>

  <script>
    // 组件：提高可维护性、可复用性
    const myButton = {
      data() {
        return {
          num: 0
        }
      },
      template: `
        <div class="btn">
          <button @click="num--">-</button>
          {{ num }}
          <button @click="num++">+</button>
        </div>
      `,
    }
    // 注册全局组件
    Vue.component('my-goods', {
      // 组件中的data必须是一个函数
      template: `
        <div class="goods">
          <h2>苹果</h2>
          <p>价格</p>
          <my-button></my-button>
        </div>
      `,
      components: {
        // 注册局部组件，只能在当前组件内使用
        'my-button': myButton
      }
    })

    let vm = new Vue({
      el: '.app',
      data: {},
      methods: {},
      computed: {},
      watch: {},
      created(){}
    })


  </script>
</body>
</html>