<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <input type="checkbox" v-model="checkAll" @change="changeAll"> 全选 {{ checkAll }}
    <ul>
      <li v-for="item in hobby">
        <input type="checkbox" v-model="item.checked"> {{ item }}
      </li>
    </ul>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        checkAll: false,
        hobby: [
          {
            name: '唱歌',
            checked: true
          },
          {
            name: '跳舞',
            checked: true
          },
          {
            name: 'rap',
            checked: true
          },
          {
            name: '篮球',
            checked: true
          }
        ]
      },
      methods: {
        changeAll() {
          this.hobby.forEach(item => item.checked = this.checkAll)
        }
      },
      watch: {
        hobby: {
          handler() {
            this.checkAll = this.hobby.every(v => v.checked)
          },
          deep: true, // 深度监听
          immediate: true // 进入页面立即执行一次
        }
      }
    })



  
  </script>
</body>
</html>