<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <button @click="num++">+</button>
    <b>{{ num }}</b>
    <hr />
    <p>倒计时: {{ count }}</p>
  </div>

  <script>
    let vm = new Vue({
      el: '.app',
      // template: '<b>bbbbbbbbb</b>',
      // template:`<div class="app">
      //   <h1>{{ title }}</h1>
      // </div>`,
      data: {
        title: '标题',
        num: 0,
        count: 10
      },
      methods: {
      },
      watch: {
      },
      // 声明周期钩子函数，在特定的时机自动执行
      beforeCreate() { // 实例创建之前执行，vue相关的数据和方法都不可用
        console.log('beforeCreate', this.title)
      },
      created() { // 实例创建成功，数据和的方法可以使用，dom还没有渲染，可以请求接口
        console.log('created', this.$el, document.querySelector('h1').outerHTML)
        this.timer = setInterval(() => {
          this.count --
          console.log(this.count)
        }, 1000)
      },
      beforeMount() { // 页面挂载之前，数据可用，dom准备渲染
        console.log('beforeMount', this.$el, document.querySelector('h1').outerHTML)
      },
      mounted() { // 页面挂载完成, $el 已经替换 el，可以操作dom元素
        console.log('mounted', this.$el)
      },
      beforeUpdate() { // 数据更新后，页面更新之前
        console.log('beforeUpdate', this.num, document.querySelector('b').outerHTML)
      },
      updated() { // 页面更新后，可以获取到最新的dom
        console.log('updated', this.num, document.querySelector('b').outerHTML)
      },
      beforeDestroy() { // 实例销毁前，还可以使用vue相关的数据和方法, 可以清除异步任务，例如定时器，事件监听
        console.log('beforeDestroy')
        clearInterval(this.timer)
      },
      destroyed() { // 销毁后
        console.log('destroyed')
      }
    })


  </script>
</body>
</html>