<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<style>
</style>
<body>
  <div class="app">
    <ul>
      <li v-for="item in goods">
        <h3>
          <input type="checkbox" v-model="item.checked">
          {{ item.name }}
        </h3>
        <p>价格: ¥{{ item.price }}</p>
        <button @click="item.count--" :disabled="item.count <= 0">-</button>
        {{ item.count }}
        <button @click="item.count++">+</button>
      </li>
    </ul>
    <footer>
      全选 <input type="checkbox" v-model="checkAll" @change="changeAll">
      总价: ¥{{ total }}
    </footer>
  </div>

  <script>

    let vm = new Vue({
      el: '.app',
      data: {
        checkAll: false,
        goods: [
          {
            name: '苹果',
            price: 10,
            count: 0,
            checked: false
          },
          {
            name: '香蕉',
            price: 12,
            count: 0,
            checked: false
          },
          {
            name: '梨',
            price: 11,
            count: 0,
            checked: false
          },
          {
            name: '榴莲',
            price: 20,
            count: 0,
            checked: false
          }
        ]
      },
      computed: {
        total() {
          let total = 0
          this.goods.forEach(item => {
            total += item.checked ? item.count * item.price : 0
          })
          return total
        }
      },
      methods: {
        changeAll() {
          this.goods.forEach(item => item.checked = this.checkAll)
        }
      },
      watch: {
        goods: {
          handler() {
            this.checkAll = this.goods.every(v => v.checked)
          },
          deep: true, // 深度监听
          immediate: true // 进入页面立即执行一次
        }
      }
    })




  
  </script>
</body>
</html>