<script setup>
import { defineAsyncComponent, provide, ref, reactive, watchEffect, watch, watchPostEffect, onBeforeMount, onMounted, onBeforeUpdate, onUpdated, onBeforeUnmount, onUnmounted } from 'vue' 
import Child1 from './components/Child1.vue'

</script>

<template>

  <div class="wrap">
    <h1>App</h1>
    <Child1 />
  </div>



</template>

<style lang="scss">

</style>
