.home {
  display: flex;
  flex-direction: column;
  nav {
    display: flex;
    height: 40px;
    border-bottom: 1px solid #cccccc;
    a {
      flex: 1;
      line-height: 40px;
      font-size: 14px;
      text-align: center;
      color: #333333;
      text-decoration: none;
    }
    :global {
      .active {
        color: tomato;
      }
    }
    p {
      flex: 1;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        svg:first-child {
          transform: translateY(3px);
        }
        svg:last-child {
          transform: translateY(-3px);
        }
        &.up svg:first-child path {
          fill: red;
        }
        &.down svg:last-child path {
          fill: red;
        }
      }
    }
    b {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 1px solid;
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
.search {
  height: 50px;
  background: hsl(0, 0%, 20%);
  padding: 10px 20px;
  p {
    height: 100%;
    line-height: 34px;
    font-size: 14px;
    color: #cccccc;
    border-radius: 5px;
    background: #666666;
    text-align: center;
  }
}