* {
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  width: 100%;
}
li {
  list-style-type: none;
}
.app {
  padding: 20px;
}
.left {
  width: 480px;
  height: 400px;
  position: relative;
  ul {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
    li {
      width: 90px;
      opacity: 0.5;
    }
    .active {
      opacity: 1;
      border: 1px salmon solid;
    }
  }
}
.img-box {
  height: 300px;
  position: relative;
  .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: rgba($color: #000000, $alpha: .5);
    cursor: move;
    display: none;
  }
}
.right {
  width: 450px;
  height: 450px;
  border: 1px solid #333333;
  position: absolute;
  right: -455px;
  top: 0;
  display: none;
  overflow: hidden;
  img {
    width: 1440px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.show {
  display: block !important;
}