<template>
  <div class="city">
    <h1><div class="close" @click="$router.back()">x</div>当前城市: {{ curCity.name }}</h1>
    <div class="search"></div>
    <div class="list">
      <dl v-for="item in curList" :key="item.title">
        <dt>{{ item.title }}</dt>
        <dd>
          <ul>
            <li v-for="val in item.list" :key="val.cityId" @click="setCity(val)">{{ val.name }}</li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['cities', 'curCity']),
    curList () {
      const obj = {}
      this.cities.forEach(item => {
        const key = item.pinyin[0].toUpperCase()
        if (obj[key]) {
          obj[key].push(item)
        } else {
          obj[key] = [item]
        }
      })
      const arr = Object.keys(obj).map(key => {
        return {
          title: key,
          list: obj[key]
        }
      })
      arr.sort((a, b) => a.title.charCodeAt() - b.title.charCodeAt())
      console.log(arr)
      return arr
    }
  },
  methods: {
    ...mapMutations(['setCurCity']),
    ...mapActions(['getCites']),
    setCity (val) {
      this.setCurCity(val)
      this.$router.back()
    }
  },
  async created () {
    this.getCites()
  }
}
</script>

<style lang="scss" scoped>
.city {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  h1 {
    text-align: center;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    position: relative;
    .close {
      position: absolute;
      left: 0;
      top: 0;
      width: 44px;
      height: 44px;
      text-align: center;
      cursor: pointer;
    }
  }
}
.search {
  height: 50px;
  background: #dddddd;
}
.list {
  flex: 1;
  overflow: auto;
  dt {
    background: #eeeeee;
    font-size: 12px;
    line-height: 24px;
  }
  li {
    line-height: 40px;
    border-bottom: 1px dashed;
    padding: 0 20px;
  }
}
</style>
