<script setup>
// 组合式api
// const text = '默认值' // 不是响应式变量，数据改变页面不会自动更新

// console.log(this) // 返回 undefined 无法使用this

import { reactive, nextTick } from 'vue'
const person = reactive({ name: '小明', age: 20 }) // 创建响应式对象和数组
const arr = reactive([1,2,3,4,5,6,7])

const add = (n) => {
  person.age += n
  nextTick(() => {
    // 等待页面更新后执行
    console.log(document.querySelector('span').outerHTML)
  })
}
const changePerson = () => {
  // 修改变量本身无法更新页面，禁止修改响应式对象的赋值
  // person = 111
}

const changeArr = () => {
  // arr.pop()
  // arr.sort((a, b) => b - a)
  // arr.length = 0
  arr[3] = '33333333'
}
const addArr = () => {
  arr.push(Math.random())
}
</script>

<template>
  <h1 ref="title">{{ person.name }}</h1>
  <input type="text" v-model="person.name">
  <br />
  <button @click="add(-1)">-</button>
  <span>{{ person.age }}</span>
  <button @click="add(1)">+</button>
  <br />
  {{ person }}
  <button @click="changePerson">修改person对象</button>
  <hr />
  <button @click="changeArr">修改数组</button>
  <button @click="addArr">add</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<style>

</style>
