.edit {
  padding: 20px;
  background: #eeeeee;
  display: flex;
  flex-direction: column;
  :global {
    .adm-input {
      background: #ffffff;
      height: 40px;
      border-radius: 5px;
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
  .content {
    flex: 1;
    background: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    :global {
      .adm-text-area-element {
        height: 100%;
      }
    }
  }
}