<template>
  <div class="wrap">
    <input type="text" v-model="form.title">
    <Child1  />
    <Child2 />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
import Child2 from './components/Child2.vue'

export default {
  data () {
    return {
      form: {
        title: '测试传值'
      }
    }
  },
  provide () {
    return {
      foo: 'FOO',
      title: this.form
    }
  },
  components: {
    Child1,
    Child2
  }
}
</script>

<style lang="scss">
.box {
  padding: 20px;
  border: 3px solid;
}
</style>
