<script setup>
import { getPersonalizedMv } from '@/services/index.js'
import { ref } from 'vue'

const list = ref([])

getPersonalizedMv().then(res => {
  list.value = res.data.result
})

const goPlayMv = id => {
  uni.navigateTo({
    url: `/pages/playMv/playMv?id=${id}`
  })
}
</script>

<template>
  <view>
    <view class="item" v-for="item in list" :key="item.id" @click="goPlayMv(item.id)">
      <image :src="item.picUrl" mode="widthFix"></image>
      <view >{{item.copywriter}} - {{item.artistName}}</view>
    </view>
  </view>
</template>

<style>

</style>
