<script setup>
// 组合式api
import { reactive, ref, computed } from 'vue' 
const list = reactive([1,2,3,4,5,6,7])


</script>

<template>
  <ul>
    <!-- v-if 的优先级比 v-for 高，v-if 中不能使用 v-for 的变量 -->
    <li
      v-for="item in list"
      :key="item"
      v-if="item % 2 === 0"
    >{{ item }}</li>
  </ul>



</template>

<style>

</style>
