<template>
  <div class="my-button">
    <button :style="{ background: color }" @click="num++">{{ text }}: {{ num }}</button>
  </div>
</template>

<script>

export default {
  // props: 接收父组件传过来的参数，子组件不能直接修改父组件传过来的参数
  props: ['color', 'text', 'info'],
  // data是一个函数防止组件复用时组件中的数据互相影响，让每个组件都有一份单独的数据
  data () {
    return {
      num: 0
    }
  },
  mounted () {
    console.log(this.info)
  }
}
</script>

<style lang="scss">
.my-button {
  padding: 10px;
  button {
    width: 100%;
    height: 50px;
    background: tomato;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
}
</style>
